!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    title OnTheList

    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")

    link(rel="icon", type="image/png", href="../../images/icon.png")
    link(rel="shortcut icon", href="../../images/favicon.ico")
    link(rel="apple-touch-icon", href="../../images/rope_icon.png")
    
    link(rel="stylesheet", media="handheld, screen, projection", href="http://code.jquery.com/mobile/latest/jquery.mobile.css")
    link(rel="stylesheet", media="handheld, screen, projection", href="http://dev.jtsage.com/cdn/datebox/latest/jquery.mobile.datebox.css")
    link(rel="stylesheet", media="screen, projection", href="../styles/layout.css")
    // link(rel="stylesheet", media="screen, projection", href="../styles/screen.css")
    // link(rel="stylesheet", media="print", href="../../stylesheets/print.css")
    
    script(src="http://code.jquery.com/jquery-1.6.2.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js")
    script(src="http://code.jquery.com/mobile/latest/jquery.mobile.js")

    script(src="http://dev.jtsage.com/cdn/datebox/latest/jquery.mobile.datebox.js")
    
    script(src="https://raw.github.com/brianleroux/lawnchair/master/src/Lawnchair.js")
    script(src="https://raw.github.com/brianleroux/lawnchair/master/src/adapters/dom.js")
      
    script(src="http://datejs.googlecode.com/svn/trunk/build/date-en-US.js")

    script(src="../scripts/utils/date.js")
    script(src="../scripts/utils/elements.js")
      
    script(src="../scripts/logging.js")
    script(src="../scripts/time_list.js")
    script(src="../scripts/queue.js")
    script(src="../scripts/forms.js")

    script
      $(document).bind("mobileinit", function(){
        window.scrollTo(0, 1);
        $.mobile.page.prototype.options.degradeInputs.date = 'text';
      });

   // ---------------------------------------------
  // Login|Footer Menu -> #queue
  body
    #queue(data-role="page", data-theme="a")
      header(data-role="header", data-position="fixed")
        nav.tabs(data-role="header", data-position="inline", data-iconpos="top")
          a(href="#add-party", data-role="button", data-transition="none", data-rel="dialog") Add
          h1 The Steakhouse
          a(href="#check-in",  data-role="button", data-transition="none") Check-In
      .content(data-role="content")
        ul#queue-list(data-role="listview", data-filter="true", data-filter-placeholder="Search Guests")
      footer(data-position="fixed", data-role="footer")
        nav.menu(data-role="navbar", data-iconpos="top")
          ul
            li
              a(href="#queue",data-role="button", data-icon="home", data-theme="b") Queue
            li
              a(href="#reservations", data-role="button", data-icon="gear") Reservations
            li
              a(href="#tablechart",data-role="button", data-icon="grid") Table Chart

     // ---------------------------------------------
    // Footer menu -> #reservations
    #reservations(data-role="page", data-theme="a")
      header(data-role="header", data-position="fixed")
        nav.tabs(data-role="header", data-position="inline", data-iconpos="top")
          a(href="#add-reservation", data-role="button", data-transition="none") Add
          h1 The Steakhouse
      .content(data-role="content")
        ul#queue-list(data-role="listview", data-filter="true", data-filter-placeholder="Search Reservations")
          li(data-role="list-divider", data-theme="a") Today
            span.date 7/4/2011
          li(data-role="list-divider", data-theme="a") Tomorrow
            span.date 7/5/2011
          li(data-role="list-divider", data-theme="a") Wednesday
            span.date 7/6/2011
          li(data-role="list-divider", data-theme="a") Thursday
            span.date 7/6/2011
          li(data-role="list-divider", data-theme="a") Friday
            span.date 7/8/2011
      footer(data-position="fixed", data-role="footer")
        nav.menu(data-role="navbar", data-iconpos="top")
          ul
            li
              a(href="#queue",data-role="button", data-icon="home") Queue
            li
              a(href="#reservations", data-role="button", data-icon="gear", data-theme="b") Reservations
            li
              a(href="#tablechart",data-role="button", data-icon="grid") Table Chart
              
     // ---------------------------------------------
    // #queue -> party name -> #view-party
    #view-party(data-role="page")
      header(data-role="header", data-position="fixed")
        nav.tabs(data-role="header", data-position="inline", data-iconpos="top")
          a(href="#", data-role="button", data-transition="none", data-rel="back") Back
          h1 The Steakhouse
          a(href="#modify-party", data-role="button", data-transition="none") Edit
          
      form(data-role="content")
        div.centered-wrapper
          div(data-role="fieldcontain")
            label.ui-input-text Name
            #party-name-details.info John Smith
            
          div(data-role="fieldcontain")
            label.ui-input-text Phone
            #phone-number-details.info 555-345-2942
            
          div(data-role="fieldcontain")
            label.ui-input-text Party Size
            #party-size-details.info 5
          
          div(data-role="fieldcontain")
            label.ui-input-text Seating Preference
            #seating-preference-details.info First available
          
          
          div(data-role="fieldcontain")
            label.ui-input-text Alert Method
            #alert-method-details.info Text
          
          div(data-role="fieldcontain")
            label.ui-input-text Notes
            #note-details.info Prefers a Window seat
            
          div(data-role="fieldcontain")
            label.ui-input-text Stated Wait Time
            #stated-wait-time-details.info 10 Minutes
            
          div(data-role="fieldcontain")
            label.ui-input-text Estimated Wait Time Remaining
            #estimated-wait-time-remaining-details.info 3 Minutes

        a(href="#alert-party",data-role="button", data-theme="e") Alert
        
        a(href="#check-in-party",data-role="button", data-theme="a") Check-In
         
        a(href="#check-in-party",data-role="button", data-theme="d") Delete 
            
      footer(data-position="fixed", data-role="footer")
        nav.menu(data-role="navbar", data-iconpos="top")
          ul
            li
              a(href="#queue",data-role="button", data-icon="home", data-theme="b") Queue
            li
              a(href="#reservations", data-role="button", data-icon="gear") Reservations
            li
              a(href="#tablechart",data-role="button", data-icon="grid") Table Chart

     // ---------------------------------------------
    // #reservations -> reservation name -> #view-reservation              
    #view-reservation(data-role="page")
      header(data-role="header", data-position="fixed")
        nav.tabs(data-role="header", data-position="inline", data-iconpos="top")
          a(href="#", data-role="button", data-transition="none", data-rel="back") Back
          h1 The Steakhouse
          a(href="#modify-party", data-role="button", data-transition="none") Edit
          
      form(data-role="content")
        div.centered-wrapper
          div(data-role="fieldcontain")
            label.ui-input-text Name
            #party-name-details.info John Smith
            
          div(data-role="fieldcontain")
            label.ui-input-text Phone
            #phone-number-details.info 555-345-2942
            
          div(data-role="fieldcontain")
            label.ui-input-text Party Size
            #party-size-details.info 5
          
          div(data-role="fieldcontain")
            label.ui-input-text Seating Preference
            #seating-preference-details.info First available
            
          div(data-role="fieldcontain")
            label.ui-input-text Date
            #date-details.info  7/5/2011
          
          div(data-role="fieldcontain")
            label.ui-input-text Time
            #time-details.info  5:10 PM
          
          div(data-role="fieldcontain")
            label.ui-input-text Notes
            #note-details.info Prefers a Window seat
          
      a(href="#alert-party",data-role="button", data-theme="e") Alert
      
      a(href="#check-in-party",data-role="button", data-theme="a") Check-In
       
      a(href="#check-in-party",data-role="button", data-theme="d") Delete 
          
      footer(data-position="fixed", data-role="footer")
        nav.menu(data-role="navbar", data-iconpos="top")
          ul
            li
              a(href="#queue",data-role="button", data-icon="home") Queue
            li
              a(href="#reservations", data-role="button", data-icon="gear", data-theme="b") Reservations
            li
              a(href="#tablechart",data-role="button", data-icon="grid") Table Chart

              
     // ---------------------------------------------
    // #queue -> #view-party -> #modify-party          
    #modify-party(data-role="dialog")
      header(data-role="header")
        h1 Add a Party
      form.content(data-role="content")
        div(data-role="fieldcontain")
          label(for='name') Name
          input#name(type="text", name="name", value="John Smith", placeholder="Name", autofocus="autofocus")
        
        div(data-role="fieldcontain")
          label(for='phone_number') Phone Number
          input#phone_number(type="tel", name="phone_number", value="2483524997", placeholder="Phone Number")
            
          div(data-role="fieldcontain")
            label(for="party-size") Party Size
            input#party-size(type="range", name="party_size", value="5", min="1", max="10")
              
          div(data-role="fieldcontain")
            label(for='seating-preference') Seating Preference
            select#seating-preference(name="seating-preference", data-native-menu="false")
              option(value="first_available") First available
              option(value="booth") Booth
              option(value="outside") Outside
          div(data-role="fieldcontain")
            label(for="wait-time") Wait Time   
            input#wait-time(type="range", name="wait_time", value="10", min="1", max="10")

          div(data-role="fieldcontain")
            fieldset(data-role="controlgroup", data-type="horizontal")
              input(type="radio", name="alert_method", id="text-message", value="text-message", checked="checked")
              label(for="text-message") Text
              input(type="radio", name="alert_method", id="call", value="call")
              label(for="call") Call
              input(type="radio", name="alert_method", id="page", value="page")
              label(for="page") Page
              input(type="radio", name="alert_method", id="qr-code", value="qr_code")
              label(for="qr-code") Code
              input(type="radio", name="alert_method", id="wait", value="wait")
              label(for="wait") Wait
            
            label(for="pager-number") Pager Number
            input.centered-number(type="text", name="pager_number", id="pager-number", value="", maxlength="3", placeholder="###")
            
            div(data-role="fieldcontain")
              label(for='notes') Notes
              input#notes(type="text", name="notes", value="", placeholder="Notes")
            a(href='#save', data-role="button") Save
          
 
     // ---------------------------------------------                         
    // #queue -> Add -> #add-party 
    #add-party(data-role="dialog")
      header(data-role="header")
        h1 Add a Party
      form.content(data-role="content")
        div(data-role="fieldcontain")
          label(for='name') Name
          input#name(type="text", name="name", value="", placeholder="Name", autofocus="autofocus", autocapitalize="on")
        
        div(data-role="fieldcontain")
          label(for='phone_number') Phone Number
          input#phone_number(type="tel", name="phone_number", value="", placeholder="Phone Number")
          
        div(data-role="fieldcontain")
          label(for="party-size") Party Size
          input#party-size(type="range", name="party_size", value="1", min="1", max="10")
            
        div(data-role="fieldcontain")
          label(for='seating-preference') Seating Preference
          select#seating-preference(name="seating-preference", data-native-menu="false")
            option(value="first_available") First available
            option(value="booth") Booth
            option(value="outside") Outside

        div(data-role="fieldcontain")
          label(for="wait-time") Wait Time
          input#wait-time(type="range", name="wait_time", min="0", max="120", step="5", value="0")
        
        div(data-role="fieldcontain")
          fieldset(data-role="controlgroup")
          label(for="called-ahead") Called Ahead
          div.center-wrapper
            select(name="called_ahead", id="called-ahead", data-role="slider")
              option(value="on") No
              option(value="off") Yes
              

        div(data-role="fieldcontain")
          fieldset.form-radio(data-role="controlgroup", data-type="horizontal")
            
            legend Alert Method
            div.center-wrapper
              input#text-message(type="radio", name="alert_method", value="text-message", checked="checked")
              label(for="text-message") Text
              input#call(type="radio", name="alert_method", value="call")
              label(for="call") Call
              input#page(type="radio", name="alert_method", value="page")
              label(for="page") Page
              input#qr-code(type="radio", name="alert_method", value="qr_code")
              label(for="qr-code") Code
              input#wait(type="radio", name="alert_method", value="wait")
              label(for="wait") Wait
          
          label(for="pager-number") Pager Number
          input#pager-number.centered-number(type="text", name="pager_number", value="", maxlength="3", placeholder="###")
          
        div(data-role="fieldcontain")
            label(for='notes') Notes
            input#notes(type="text", name="notes", value="", placeholder="Notes")
        
          a(href='#add', data-role="button") Add
  
   // ---------------------------------------------
  // ??? WIP
  #check-in-without-queue(data-role="dialog")
    header(data-role="header")
      h1 Add a Party
    form.content(data-role="content") placeholder
      a(href='#add', data-role="button") Add
  
   // ---------------------------------------------
  // #reservations -> Add -> #add-reservation
  #add-reservation(data-role="dialog")
      header(data-role="header")
        h1 Reservation
      form.content(data-role="content")
        div(data-role="fieldcontain")
          label(for='name') Name
          input#name(type="text", name="name", value="", placeholder="Name", autofocus="autofocus")
        
        div(data-role="fieldcontain")
          label(for='phone_number') Phone Number
          input#phone_number(type="tel", name="phone_number", value="", placeholder="Phone Number")
          
        div(data-role="fieldcontain")
          label(for="party-size") Party Size
          input#party-size(type="range", name="party_size", value="1", min="1", max="10")
            
        div(data-role="fieldcontain")
          label(for='seating-preference') Seating Preference
          select#seating-preference(name="seating-preference", data-native-menu="false")
            option(value="first_available") First available
            option(value="booth") Booth
            option(value="outside") Outside
            
        // A word of warning, the date and time input variables seem to be touchy when reordering them.
        div.date-time(data-role="fieldcontain")
          label(for="reservation-date") Date
          input(name="reservation_date", id="reservation-date", type="date", data-role="datebox", data-options='{"mode": "calbox", "pickPageTheme": "b"}', placeholder="Date")
        div.date-time(data-role="fieldcontain")
          label(for="reservation-time") Time
          input(name="reservation_time", id="reservation-time", type="date", data-role="datebox", data-options='{"mode": "timebox", "timeFormat": 12, "pickPageTheme": "b"}', placeholder="Time")
          
        div(data-role="fieldcontain")
          label(for='notes') Notes
          input#notes(type="text", name="notes", value="", placeholder="Notes")
        
        a(href='#add', data-role="button") Add
    
     // ---------------------------------------------
    // Start page
    #login(data-role="page")
      header(data-role="header")
        h1 OnTheList Login
      form.content(data-role="content") Login
        a(href='#add', data-role="button") Add
     
      // ---------------------------------------------
     // #queue|footer -> #tablechart
    #tablechart(data-role="page")
      header(data-role="header")
        h1 The Steakhouse
      form.content(data-role="content") Tablechart
        canvas#table-chart-canvas(width="100", height="100")
      
      footer(data-position="fixed", data-role="footer")
        nav.menu(data-role="navbar", data-iconpos="top")
          ul
            li
              a(href="#queue",data-role="button", data-icon="home") Queue
            li
              a(href="#reservations", data-role="button", data-icon="gear") Reservations
            li
              a(href="#tablechart",data-role="button", data-icon="grid", data-theme="b") Table Chart
        
        
        
      
