!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    title OnTheList

    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")

    link(rel="shortcut icon", href="../../images/favicon.ico")
    link(rel="apple-touch-icon", href="../../images/rope_icon.png")
    
    link(rel="stylesheet", media="handheld, screen, projection", href="http://code.jquery.com/mobile/latest/jquery.mobile.css")
    

    // link(rel="stylesheet", media="screen, projection", href="../styles/screen.css")
    link(rel="stylesheet", media="screen, projection", href="../styles/layout.css")
    // link(rel="stylesheet", media="print", href="../../stylesheets/print.css")

    script(src="http://code.jquery.com/jquery-1.6.2.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js")
    script(src="http://code.jquery.com/mobile/latest/jquery.mobile.js")

    script(src="../scripts/logging.js")
    script(src="../scripts/forms.js")

    script
      $(document).bind("mobileinit", function(){
        window.scrollTo(0, 1);
      });

  body
    #queue(data-role="page")
      header(data-role="header", data-position="fixed")
        nav.tabs(data-role="header", data-position="inline", data-iconpos="top")
          a(href="#add-party", data-role="button", data-transition="none") Add Party
          h1 The Steakhouse
          a(href="#check-in",  data-role="button", data-transition="pop") Check-In
      .content(data-role="content")
        ul#queue-list(data-role="listview", data-filter="true", data-filter-placeholder="Search Guests", style="margin-top:15px !important;")
          li#divider-010(data-role="list-divider", data-theme="a") 0-10 mins
          li
            a
              span.time 5 min
              | John Smith
              span.ui-li-count 5
          li
            a
              span.time 10 min
              | Jane Smith
              span.ui-li-count 5
            
          li#divider-1130(data-role="list-divider", data-theme="a") 11-30 mins
          li
            a
              span.time 15 min
              | Zack Bloom
              span.ui-li-count 2
          li
            a
              span.time 15 min
              | Eric Wright
              span.ui-li-count 2
            
          li#divider-3160(data-role="list-divider", data-theme="a") 31-60 mins
          li
            a
              span.time 32 min
              | Dick Lombardi
              span.ui-li-count 3
          li#divider-60plus(data-role="list-divider", data-theme="a") More Than 60 mins
          li 
            a
              span.time 1h 7m
              | Harry Thomas
              span.ui-li-count 1
          
          li#divider-reservations(data-role="list-divider", data-theme="a") Upcoming Reservations
          li 
            a
              span.time 12:45 PM
              | Bob Brewster
              span.ui-li-count 4


      footer(data-position="fixed", data-role="footer")
        nav.menu(data-role="navbar", data-iconpos="top")
          ul
            li
              a(href="#queue",data-role="button", data-icon="home", data-theme="b") Queue
            li
              a(href="#reservation-manager", data-role="button", data-icon="gear") Reservations
            li
              a(href="#table-seated",data-role="button", data-icon="grid") Table Chart
    #add-party(data-role="dialog")

      header(data-role="header")
        h1 Add a Party
      form.content(data-role="content")
        div(data-role="fieldcontain")
          input#name(type="text", name="name", value="", placeholder="Name", autofocus="autofocus")
        
        div(data-role="fieldcontain")
          input#phone_number(type="tel", name="phone_number", value="", placeholder="Phone number")
          
        div(data-role="fieldcontain")
          div
            label(for="party-size", style="font-weight:600;text-align:center;") Party Size
          input#party-size(type="range", name="party_size", value="1", min="1", max="10")
            
        div(data-role="fieldcontain")
          select#select-choice-1(name="select-choice-1", data-native-menu="false")
            option(value="first_available") First available
            option(value="booth") Booth
            option(value="outside") Outside

        div(data-role="fieldcontain")
          input#notes(type="text", name="notes", value="", placeholder="Notes")
        a(href='#add', data-role="button") Add
        
    #check_in(data-role="page")
      header(data-role="header")
        h1 Check in
      .content(data-role="content")
        
      
