!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    title SpeedyTable

    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")

    link(rel="icon", type="image/png", href="../../images/icon.png")
    link(rel="shortcut icon", href="../../images/favicon.ico")
    link(rel="apple-touch-icon", href="../../images/rope_icon.png")
    
    link(rel="stylesheet", media="handheld, screen, projection", href="../../extern/jquerymobile/jquery.mobile.css")
    link(rel="stylesheet", media="handheld, screen, projection", href="../../extern/datebox/jquery.mobile.datebox.css")
    link(rel="stylesheet", media="screen, projection", href="../styles/layout.css")
    link(rel="stylesheet", media="screen, projection", href="../styles/form.css")
    link(rel="stylesheet", media="screen, projection", href="../styles/view.css")
    link(rel="stylesheet", media="screen, projection", href="../styles/tablechart.css")
    link(rel="stylesheet", media="screen, projection", href="../styles/isotope.css")
    link(rel="stylesheet", media="screen, projection", href="../styles/settings.css")
    link(rel="stylesheet", media="screen, projection", href="../styles/themes.css")
    link(rel="stylesheet", media="screen, projection", href="../../extern/jquery.mobile.scrollview.css")
    // link(rel="stylesheet", media="screen, projection", href="../styles/screen.css")
    // link(rel="stylesheet", media="print", href="../../stylesheets/print.css")
    
    script(src="../../extern/jquery/jquery-1.6.2.js")
    script(src="../../extern/jqueryui/jquery-ui.min.js")
    script(src="../libs/jqm/jquery.mobile-1.0b2pre.js")

    script(src="../../extern/datebox/jquery.mobile.datebox.js")
    script(src="../../extern/jquery.caret.1.02.js")
    
    script(src="../../extern/jquery.isotope.1.4.js")
    script(src="../scripts/ui/isotope.section_list.js")

    script(src="../libs/iscroll/iscroll.js")
      
    script(src="../../extern/datejs/date-en-US.js")
    
    script(src="../../extern/lawnchair/Lawnchair.js")
    script(src="../../extern/lawnchair/webkit-sqlite.js")
    script(src="../../extern/lawnchair/dom.js")
    script(src="../../extern/lawnchair/memory.js")

    script(src="../scripts/utils/date.js")
    script(src="../scripts/utils/elements.js")

    script(src="../scripts/monitoring/logging.js")

    script(src="../scripts/format/object.js")
    script(src="../scripts/format/date.js")
    script(src="../scripts/format/phone.js")
    script(src="../scripts/format/status.js")

    script(src="../scripts/data/object.js")
    script(src="../scripts/data/queue.js")

    script(src="../scripts/ui/hide_address_bar.js")
    script(src="../scripts/ui/navbar.js")
    script(src="../scripts/ui/page_size.js")
    script(src="../scripts/ui/range.js")
    script(src="../scripts/ui/search_fill.js")
    script(src="../scripts/ui/time.js")
    script(src="../scripts/ui/time_list.js")
    script(src="../scripts/ui/menu.js")
    script(src="../scripts/ui/corner_buttons.js")

    script(src="../scripts/pages/add_party/alert_method.js")
    script(src="../scripts/pages/add_party/form.js")
    script(src="../scripts/pages/add_party/search.js")
  
    script(src="../scripts/pages/view_party.js")

    script(src="../scripts/pages/queue/check_in.js")
    script(src="../scripts/pages/queue/list.js")
    script(src="../scripts/pages/queue/menu.js")
      
    script(src="../scripts/pages/tablechart/sprites.js")
    script(src="../scripts/pages/tablechart/chart.js")
    script(src="../scripts/pages/tablechart/demo.js")
      
  body.dark-theme
    include_files(path="html/pages/", first="queue.jade"):
      - each file in files
        != file.contents
        