!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    title OnTheList

    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")

    link(rel="icon", type="image/png", href="../../images/icon.png")
    link(rel="shortcut icon", href="../../images/favicon.ico")
    link(rel="apple-touch-icon", href="../../images/rope_icon.png")
    
    link(rel="stylesheet", media="handheld, screen, projection", href="http://code.jquery.com/mobile/latest/jquery.mobile.css")
    link(rel="stylesheet", media="handheld, screen, projection", href="http://dev.jtsage.com/cdn/datebox/latest/jquery.mobile.datebox.css")
    link(rel="stylesheet", media="screen, projection", href="../styles/layout.css")
    // link(rel="stylesheet", media="screen, projection", href="../styles/screen.css")
    // link(rel="stylesheet", media="print", href="../../stylesheets/print.css")
    
    script(src="http://code.jquery.com/jquery-1.6.2.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js")
    script(src="http://code.jquery.com/mobile/latest/jquery.mobile.js")
    
    script(src="http://dev.jtsage.com/cdn/datebox/latest/jquery.mobile.datebox.js")
    

    script(src="../scripts/logging.js")
    script(src="../scripts/forms.js")

    script
      $(document).bind("mobileinit", function(){
        window.scrollTo(0, 1);
      });
      $( document ).bind( "mobileinit", function(){
        $.mobile.page.prototype.options.degradeInputs.date = 'text'; 
      });

  body
    #queue(data-role="page", data-theme="a")
      header(data-role="header", data-position="fixed")
        nav.tabs(data-role="header", data-position="inline", data-iconpos="top")
          a(href="#add-party", data-role="button", data-transition="none") Add
          h1 The Steakhouse
          a(href="#check-in",  data-role="button", data-transition="pop") Check-In
      .content(data-role="content")
        ul#queue-list(data-role="listview", data-filter="true", data-filter-placeholder="Search Guests")
          li#divider-010(data-role="list-divider", data-theme="a") 0-10 mins
          li
            a(href="#modify-party")
              span.time 5 min
              | John Smith
              span.ui-li-count 5
            
          li
            a(href="#modify-party")
              span.time 10 min
              | Jane Smith
              span.ui-li-count 5
            
          li#divider-1130(data-role="list-divider", data-theme="a") 11-30 mins
          li
            a(href="#modify-party")
              span.time 15 min
              | Zack Bloom
              span.ui-li-count 2
          li
            a(href="#modify-party")
              span.time 15 min
              | Eric Wright
              span.ui-li-count 2
            
          li#divider-3160(data-role="list-divider", data-theme="a") 31-60 mins
          li
            a(href="#modify-party")
              span.time 32 min
              | Dick Lombardi
              span.ui-li-count 3
          li#divider-60plus(data-role="list-divider", data-theme="a") More Than 60 mins
          li 
            a(href="#modify-party")
              span.time 1h 7m
              | Harry Thomas
              span.ui-li-count 1
          
          li#divider-reservations(data-role="list-divider", data-theme="a") Upcoming Reservations
          li 
            a(href="#modify-party")
              span.time 12:45 PM
              | Bob Brewster
              span.ui-li-count 4

      footer(data-position="fixed", data-role="footer")
        nav.menu(data-role="navbar", data-iconpos="top")
          ul
            li
              a(href="#queue",data-role="button", data-icon="home", data-theme="b") Queue
            li
              a(href="#reservation-manager", data-role="button", data-icon="gear") Reservations
            li
              a(href="#table-seated",data-role="button", data-icon="grid") Table Chart
              
    #reservation-manager(data-role="page", data-theme="a")
      header(data-role="header", data-position="fixed")
        nav.tabs(data-role="header", data-position="inline", data-iconpos="top")
          a(href="#add-reservation", data-role="button", data-transition="none") Add
          h1 The Steakhouse
      .content(data-role="content")
        ul#queue-list(data-role="listview", data-filter="true", data-filter-placeholder="Search Reservations")
          li#divider-today(data-role="list-divider", data-theme="a") Today
          li
            a
              span.time 11:40 AM
              | George Zimmerman
              span.ui-li-count 5
            
          li
            a
              span.time 1:40 PM
              | Bob Johnson
              span.ui-li-count 1
            
          li#divider-Tomorrow(data-role="list-divider", data-theme="a") Tomorrow
          li
            a
              span.time 2:00 PM
              | Jonah Jameson
              span.ui-li-count 1
          li
            a
              span.time 6:30 PM
              | Twig Richer
              span.ui-li-count 2
            
          li#divider-day3(data-role="list-divider", data-theme="a") 7-16-11
          li
            a
              span.time 32 min
              | Dick Lombardi
              span.ui-li-count 3
          li#divider-day4(data-role="list-divider", data-theme="a") 7-17-11
          li 
            a
              span.time 4:45 PM
              | Joe Shmoe
              span.ui-li-count 1
          
          li#divider-day5(data-role="list-divider", data-theme="a") 7-18-11
          li 
            a
              span.time 12:45 PM
              | Bob Brewster
              span.ui-li-count 4

      footer(data-position="fixed", data-role="footer")
        nav.menu(data-role="navbar", data-iconpos="top")
          ul
            li
              a(href="#queue",data-role="button", data-icon="home") Queue
            li
              a(href="#reservation-manager", data-role="button", data-icon="gear", data-theme="b") Reservations
            li
              a(href="#table-seated",data-role="button", data-icon="grid") Table Chart
              
              
              
    #modify-party(data-role="page")
      header(data-role="header", data-position="fixed")
        nav.tabs(data-role="header", data-position="inline", data-iconpos="top")
          a(href="#", data-role="button", data-transition="none", data-rel="back") Back
          h1 The Steakhouse
          
      .content(data-role="content")
        div(data-role="fieldcontain")
          label(for='name') Name
          input#name(type="text", name="name", value="John Smith", placeholder="Name", autofocus="autofocus")
        
        div(data-role="fieldcontain")
          label(for='phone_number') Phone Number
          input#phone_number(type="tel", name="phone_number", value="2483524997", placeholder="Phone Number")
          
        div(data-role="fieldcontain")
          label(for="party-size") Party Size
          input#party-size(type="range", name="party_size", value="5", min="1", max="10")
            
        div(data-role="fieldcontain")
          label(for='seating-preference') Seating Preference
          select#seating-preference(name="seating-preference", data-native-menu="false")
            option(value="first_available") First available
            option(value="booth") Booth
            option(value="outside") Outside
        div(data-role="fieldcontain")
          label(for="wait-time")
            | Wait Time
            div Estimated 12 min
          
          input#wait-time(type="range", name="wait_time", value="10", min="1", max="10")

        div(data-role="fieldcontain")
          fieldset(data-role="controlgroup", data-type="horizontal")
            input(type="radio", name="alert_method", id="text-message", value="text-message", checked="checked")
            label(for="text-message") Text
            input(type="radio", name="alert_method", id="call", value="call")
            label(for="call") Call
            input(type="radio", name="alert_method", id="page", value="page")
            label(for="page") Page
            input(type="radio", name="alert_method", id="wait", value="wait")
            label(for="wait") Wait
          
          // To be added to a pager API
          // div.large-number Pager #52
          
          div(data-role="fieldcontain")
            label(for='notes') Notes
            input#notes(type="text", name="notes", value="", placeholder="Notes")
          a(href='#add', data-role="button") Add
          
      footer(data-position="fixed", data-role="footer")
        nav.menu(data-role="navbar", data-iconpos="top")
          ul
            li
              a(href="#queue",data-role="button", data-icon="home", data-theme="b") Queue
            li
              a(href="#reservation-manager", data-role="button", data-icon="gear") Reservations
            li
              a(href="#table-seated",data-role="button", data-icon="grid") Table Chart
      
    #add-party(data-role="dialog")
      header(data-role="header")
        h1 Add a Party
      form.content(data-role="content")
        div(data-role="fieldcontain")
          label(for='name') Name
          input#name(type="text", name="name", value="", placeholder="Name", autofocus="autofocus")
        
        div(data-role="fieldcontain")
          label(for='phone_number') Phone Number
          input#phone_number(type="tel", name="phone_number", value="", placeholder="Phone Number")
          
        div(data-role="fieldcontain")
          label(for="party-size") Party Size
          input#party-size(type="range", name="party_size", value="1", min="1", max="10")
            
        div(data-role="fieldcontain")
          label(for='seating-preference') Seating Preference
          select#seating-preference(name="seating-preference", data-native-menu="false")
            option(value="first_available") First available
            option(value="booth") Booth
            option(value="outside") Outside
        div(data-role="fieldcontain")
          label(for="wait-time")
            | Wait Time
            div Estimated 12 min
          
          input#wait-time(type="range", name="wait_time", value="1", min="1", max="10")

        div(data-role="fieldcontain")
          fieldset(data-role="controlgroup", data-type="horizontal")
            input(type="radio", name="alert_method", id="text-message", value="text-message", checked="checked")
            label(for="text-message") Text
            input(type="radio", name="alert_method", id="call", value="call")
            label(for="call") Call
            input(type="radio", name="alert_method", id="page", value="page")
            label(for="page") Page
            input(type="radio", name="alert_method", id="wait", value="wait")
            label(for="wait") Wait
          
          // To be added to a pager API
          // div.large-number Pager #52
          
          div(data-role="fieldcontain")
            label(for='notes') Notes
            input#notes(type="text", name="notes", value="", placeholder="Notes")
        
          a(href='#add', data-role="button") Add
            
  #check-in-without-queue(data-role="dialog")
    header(data-role="header")
      h1 Add a Party
    form.content(data-role="content")
     
      a(href='#add', data-role="button") Add
   
  #add-reservation(data-role="dialog")
      header(data-role="header")
        h1 Reservation
      form.content(data-role="content")
        div(data-role="fieldcontain")
          label(for='name') Name
          input#name(type="text", name="name", value="", placeholder="Name", autofocus="autofocus")
        
        div(data-role="fieldcontain")
          label(for='phone_number') Phone Number
          input#phone_number(type="tel", name="phone_number", value="", placeholder="Phone Number")
          
        div(data-role="fieldcontain")
          label(for="party-size") Party Size
          input#party-size(type="range", name="party_size", value="1", min="1", max="10")
            
        div(data-role="fieldcontain")
          label(for='seating-preference') Seating Preference
          select#seating-preference(name="seating-preference", data-native-menu="false")
            option(value="first_available") First available
            option(value="booth") Booth
            option(value="outside") Outside
            
        // A word of warning, the date and time input variables seem to be touchy when reordering them.
        div(data-role="fieldcontain")
          label(for="reservation-date") Date
          input(name="reservation_date", id="reservation-date", type="date", data-role="datebox", data-options='{"mode": "calbox"}', placeholder="Date")
        div(data-role="fieldcontain")
          label(for="reservation-time") Time
          input(name="reservation_time", id="reservation-time", type="date", data-role="datebox", data-options='{"mode": "timebox", "timeFormat": 12}', placeholder="Time")
          

        div(data-role="fieldcontain")
          fieldset(data-role="controlgroup", data-type="horizontal")
            input(type="radio", name="alert_method", id="text-message", value="text-message", checked="checked")
            label(for="text-message") Text
            input(type="radio", name="alert_method", id="call", value="call")
            label(for="call") Call
            input(type="radio", name="alert_method", id="page", value="page")
            label(for="page") Page
            input(type="radio", name="alert_method", id="wait", value="wait")
            label(for="wait") Wait
          
          // Added later to a pager API
          // div.large-number #52
          
        div(data-role="fieldcontain")
          label(for='notes') Notes
          input#notes(type="text", name="notes", value="", placeholder="Notes")
        
        a(href='#add', data-role="button") Add
            
    #quick-add-party(data-role="dialog")
      header(data-role="header")
        h1 Party
      form.content(data-role="content")
       
        a(href='#add', data-role="button") Add
