h1 Login Demo

form#create-account
  h2 Create an Account
  label Username:
    input(name="username")
  label Password:
    input(name="password", type="password")
  input(type="submit")

form#login
  h2 Login
  label Username:
    input(name="username")
  label Password:
    input(name="password", type="password")
  input(type="submit")

a(href='#logout') logout
br
a(href='#get_user') get user
