[submodule "site/src/libs/jqm"]
	path = site/src/libs/jqm
	url = git@github.com:onthelist/jquery-mobile.git
[submodule "site/src/libs/iscroll"]
	path = site/src/libs/iscroll
	url = git@github.com:onthelist/iscroll.git
[submodule "utils/lib/logly"]
	path = utils/lib/logly
	url = git@github.com:onthelist/logly.git
[submodule "utils/lib/winston"]
	path = utils/lib/winston
	url = git@github.com:onthelist/winston.git
