
[data-bound-value] {
  display: none;
  border: 0;

  // We have to correct for the lack of a label.
  margin-left: 22%;
  width: 60%;
}

[data-role=dialog] {
  form.ui-content {
    padding-top: 0;
  }
}

[data-role=fieldcontain] {
  fieldset {
    margin: 2px auto;
  }
  
  form.content {
    .ui-input-text {
      font-weight: bold;
      font-size: 90%;
      color: #444;
    }
  }
  
  label {
    font-weight: bold;
  }
}

[data-role=fieldcontain] .short-code {
  // Used for Pager input.
  text-align: center;
  font-size: 1.2em;
  width: 5em;
  display: block;
  margin: 0 auto;

  &:-moz-placeholder {
    text-indent: 0;
  }
}

[data-role=inline-center] {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

div.ui-slider-switch {
  // Corects slider centering
  margin-left: 7.5%;
  margin-right: 7.5%;
}

form.content {
  header {
    width: 100%;
    font-size: 1.2em;
    margin: 10px -16px 5px;
    padding: 5px 15px;
  }
  header:first-child {
    margin-top: -15px;
  }
}

label, .ui-controlgroup-label {
  -font-size: 90%;
  font-weight: bold;
}

input::-moz-outer-spin-button, input::-moz-inner-spin-button {
  -moz-appearance: none;
  margin: 0;
}

input.ui-input-text {
  margin: 0;
}

input.ui-slider-input {
  width: 30px;
  font-weight: bold;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ui-checkbox input, .ui-radio input {
  margin-top: -13px;
}

.infield-button {
  // Used for form autofill.
  position: absolute;
  top: 0;
  left: 80.6%;
  height: 22px;
  width: 25px;
  margin: 0;
  padding: 0.4em 5px 0.4em 0;
  font-size: 16px;
  line-height: 1.3;
  color: #999;

  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;

  &.loading {
    background: url('../images/loading.gif') center center no-repeat;
    color: transparent;
  }
  &.empty {
    display: none;
  }
}

.numeric-id.ui-input-text {
  // Used for the table chart input
  display: inline-block;
  font-size: 1.3em;
  margin: 0 -9px -1px;
  text-align: center;
  vertical-align: middle;
  width: 53px;
  height: 26px;
}

.inline-button {
  // Used for the table chart selection
  color: #666;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
}

.inline-button .ui-btn-inner {
  // Reduces padding
  padding: 0.6em 11px 0.7em 33px;
}

.inline-button.ui-btn-icon-left .ui-icon {
  // Corrects icon positioning
  left: 8px;
}

.ui-controlgroup-controls {
  margin: 2px auto;
  text-align:center;
}

// Mobile corrections
@media all and (max-width: 450px) {
  .date-time {
    .ui-btn {
      // Corrects date and time buttons from being too low for their input box. Cause: shortened dialog boxes
      top: -4px;
    }
  }
 
  // Auto fill button
  .infield-button {
    right: -1px;
    top: 7px;
    left: auto;
  }
  
  div.ui-slider-switch {
    // Corrects slider centering on small screens
    margin-left: 17%;
    margin-right: 17%;
  }
  
  form.content {
    .ui-field-contain { 
      // Reduce the vert padding on mobile-view forms
      padding: 7px 0;
    }
    
    label, .ui-controlgroup-label {
      text-align: center;
    }
      
    label {
      &.ui-input-text {
        display: none;
      }
      
      &.ui-slider {
        display: block;
      }
    }
  }
  
  [data-role=controlgroup] {
    .ui-btn-inner {
      // Narrow radio group buttons
      padding: 0.7em 14px;
    }
  }
  
  [data-role=inline-center] {
    width: 100%;
  }
}
// End of mobile corrections

// Tablet corrections
@media all and (max-width: 600px) {
  [data-role=controlgroup] {
    .ui-btn-inner {
      // Narrow radio group buttons
      padding: 0.7em 12px;
    }
  }
  .ui-controlgroup-horizontal .ui-checkbox .ui-btn, 
    .ui-controlgroup-horizontal .ui-radio .ui-btn, 
    .ui-controlgroup-horizontal .ui-checkbox:last-child, 
    .ui-controlgroup-horizontal .ui-radio:last-child {

    // Correct visible overflow when buttons are disabled.
    margin-right: 4px;
  }
}
// End of tablet corrections

// Full desktop corrections
@media all and (min-width: 451px) {
  form.content {
    .ui-controlgroup-label, label {
      text-align: right;
    }
  
    // Hide placeholder text on screens large enough for labels
    :-moz-placeholder {
      text-indent: -9999px;
    }
    
    ::-webkit-input-placeholder {
      text-indent: -9999px;
    }
  }
}
// End of desktop corrections
