.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, top, left, opacity;
     -moz-transition-property: -moz-transform, top, left, opacity;
          transition-property: transform, top, left, opacity;
}

.isotope.timeline li.isotope-item {
  width: 300px;

  border-radius: 15px;
  border-width: 0;
  box-shadow: 3px 2px 3px #555;

  .ui-icon {
    display: none;
  }
  .ui-link-inherit {
    padding-right: 0;
  }
  > .ui-btn-inner {
    border: 0;
  }

}
