.time{
  text-align:right;
  color:#A5A5A5;
  width:65px;
  margin-right:10px;
  display:inline-block;
}

[data-role=dialog] .ui-slider-input {
  font-weight: bold;
  width: 23px;
}

@media all and (max-width: 450px){
  .ui-field-contain { 
    padding: .5em 0;
  }
}

