.time{
  text-align:right;
  color:#A5A5A5;
  width:65px;
  margin-right:12px;
  display:inline-block;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media all and (max-width: 450px){
  .ui-field-contain { 
    padding: .5em 0;
  }
}
