.time {
  text-align: right;
  color: #A5A5A5;
  width: 65px;
  margin-right: 12px;
  display: inline-block;
}
.pager-number {
  display: block;
  text-align: center;
  margin: 10px auto;
  font-size: 2em;
  width: 50%;
}

.ui-li.ui-btn a.list-action {
  margin-right: -60px;
  text-align: center;
}
// Dialog modifications
[data-role=dialog] {
  .ui-slider-input {
    width: 23px;
    font-weight: bold;
  }

  .ui-content {
    padding-top: 0;
  }

  .ui-input-text {
    font-weight: bold;
    font-size: 90%;
    color: #444;
  }
  ::-webkit-input-placeholder {
    font-style: italic;
    color: #777;
  }
  :-moz-placeholder {
    font-style: italic;
    color: #777;
  }

  label {
    font-size: 90%;
    font-weight: bold;
  }
}

// Centers containers
[data-role=fieldcontain] {
  fieldset {
    margin: 2px auto;
    text-align: center;
  }
}

// Shortens radio group padding
[data-role=controlgroup] {
  .ui-btn-inner{
    padding-left: 10px;
    padding-right: 14px;
  }
// Properly hides radio buttons behind jQuery Mobile labels
  .ui-btn{
  top:3px;
  }
}

// Mobile view corrections
@media all and (max-width: 450px){
// Corrects textless boxes being offset by small page padding
    .ui-btn{
    top:-5px;
  }
  .ui-field-contain { 
    padding: .5em 0;
  }

// Hides form labels on small screens
  form {
    label {
      text-align: center;

      &.ui-input-text {
        display: none;
      }
      &.ui-slider {
        display: block;
        margin-bottom: -8px;
      }
    }
  }
}

// Large screen adjustments
@media all and (min-width: 451px){

// Displays labels to the right
  form {
    label {
      text-align: right;
      display: block;
    }
// Hides placeholder text
    ::-webkit-input-placeholder {
      text-indent: -9999px;
    }
    :-moz-placeholder {
      text-indent: -9999px;
    }
  }
}

