@import "compass/css3/images";

.status-standalone {
  margin: 0 0.25% 30px;
  width: 99.5%;
  overflow: hidden;
  display: none;
  
  font-family: Verdana, sans-serif;
  text-shadow: 1px 1px 1px #EEE;
  color: #444;
  height: 2.5em;

  border-radius: 10px;
  padding: .1em 5px .1em 20px;
  box-shadow: 0px 0px 7px #CCC;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  z-index: 1200;
  
  @include background(linear-gradient(top center, #CCC, #DDD));

  &.error {
    @include background(linear-gradient(top center, #C44, #D44));
    text-shadow: 1px 1px 1px #222;
    color: #EEE;
    box-shadow: 0px 0px 6px #D22;
  }

  .actions {
    float: right;
  }
  .action-status, .status-msg {
    float: left;
    display: block;
    line-height: 2.3em;
    margin-right: 3px;
  }
  a {
    color: #EEE;
    text-decoration: none;
    @include background(linear-gradient(top center, #77C, #77D));
    border: 1px solid #BBF;

    padding: .1em 10px;
    border-radius: 10px;
    white-space: nowrap;
    display: block;
    float: left;
    margin: .2em 2px;
    height: 1.8em;
    line-height: 1.5em;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    &:hover {
      box-shadow: 0 0 2px #EEE;
    }
    &.cancel {
      @include background(linear-gradient(top center, #DEE, #FDD));
      color: #666;
      text-shadow: 1px 1px 1px #EEE;
      background-color: #EEE;
    }
  }
  time {
    margin-right: 0;
    width: auto;
  }
}
