#tablechart {
  min-height: 0;

  .ui-content {
    padding: 0;
    position: relative;
    overflow: hidden;
    background-color: #111;
  }
}

.tablechart {
  -overflow: hidden;
}

.tablechart-inner {
  width: 1280px;
  height: 720px;
  background-color: red;
  overflow: hidden;
  position: relative;

  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;

  #item {
    width: 40px;
    height: 40px;
    background-color: blue;
    position: absolute;
    top: 200px;
    left: 200px;
  }
}
