#tablechart {
  min-height: 0;

  .ui-content {
    padding: 0;
    position: relative;
    overflow: hidden;
    background-color: #111;
  }
}

.tablechart {
  -overflow: hidden;
}

.tablechart-inner {
  width: 1280px;
  height: 720px;

  background: url(/images/grid_back_40.gif) repeat 0 0 #151515;
  border: 1px solid #333;
  border-width: 0 1px 1px 0;

  overflow: hidden;
  position: relative;

  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;

  canvas {
    position: absolute;
  }
}

.ui-selectee {
}
.ui-selected {
  background: #fcaf3e;
}
.ui-selecting {
  background: #8ae234;
}

.docked-right {
  width: 335px;
  height: 90%;
  padding: 5px 20px 5px 5px;
  
  position: absolute;
  left: -340px;
  top: 5%;

  background-color: rgba(0, 0, 0, .8);
  z-index: 5;

  text-shadow: 0 0 0;
  
  -webkit-transition: left 0.3s ease-in;
  -moz-transition: left 0.3s ease-in;

  border-radius: 0 10px 10px 0;

  a {
    display: block;
  }

  &:hover, &.open, &.manual-open {
    left: 0;
  }
}

.editor {
  label {
    color: #DDD;
  }
}
