@import "compass";

// A
$a-1: #232323; // Dark Gray
$a-2: darken($a-1, 28%);

// B
$b-1: #FDB243; // Orange
$b-2: darken($b-1, 18%);
 
$b-hover-1: lighten($b-1, 6%);
$b-hover-2: lighten($b-2, 4%);

// C
$c-1: #555; // Dark Gray
$c-2: darken($c-1, 7%);
 
$c-hover-1: lighten($c-1, 6%);
$c-hover-2: lighten($c-2, 4%);

// D
$d-1: #555; // Dark Gray
$d-2: darken($d-1, 15%);
 
$d-hover-1: lighten($d-1, 6%);
$d-hover-2: lighten($d-2, 4%);

// E
$e-1: #F8F8F8; // Off-White
$e-2: darken($e-1, 25%);

$e-hover-1: lighten($e-1, 6%);
$e-hover-2: lighten($e-2, 4%);

// F
$f-1: #F73939; // Red
$f-2: darken($f-1, 20%);

$f-hover-1: lighten($f-1, 4%);
$f-hover-2: lighten($f-2, 3%);

.dark-theme {
  // A Theme
  .ui-body-a {
    font-weight: normal;
    border: 1px solid #222;
    background: $a-1;
    @include background-image(linear-gradient($a-1, $a-2));
    color: #DDD;
    text-shadow: 0 -1px 0px #000;
  }

  // B Theme
  .ui-bar-b {
    // Dark Gray
    font-weight: bold;
    border: 1px solid #404040; 
    background: #AAA; 
    color: #F9F9F9; 
    text-shadow: 1px 1px 1px #444; 
    @include background-image(linear-gradient(#AAA, #777));
  }
  .ui-btn-up-b {
    border: 1px solid $b-2;
    background: $b-1;
    @include background-image(linear-gradient($b-1, $b-2));
  }
  .ui-btn-up-b a.ui-link-inherit {
    color: #FFF;
  }
  .ui-btn-hover-b {
    border: 1px solid $b-hover-2;
    background: $b-hover-1;
    @include background-image(linear-gradient($b-hover-1, $b-hover-2));
  }
  .ui-btn-hover-b a.ui-link-inherit {
    color: #FFF;
  }
  .ui-btn-down-b {
    border: 1px solid $b-1;
    background: $b-2;
    @include background-image(linear-gradient($b-2, $b-1));
  }
  .ui-btn-up-b,
  .ui-btn-hover-b,
  .ui-btn-down-b {
    text-shadow: 0 -1px 0px #94440F;
    color: #FFF;
    cursor: pointer;
    font-weight: bold; 
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
  }
  .ui-bar-b, 
  .ui-bar-b input, 
  .ui-bar-b select, 
  .ui-bar-b textarea, 
  .ui-bar-b button { 
    font-family: Helvetica, Arial, sans-serif;
  }
  .ui-bar-b .ui-link-inherit { 
    color: #FFF;
  }
  .ui-bar-b .ui-link { 
    color: #7CC4E7;
    font-weight: bold;
  }
  .ui-body-b {
    font-weight: normal;
    border: 1px solid #222;
    background: #444;
    color: #DDD;
    text-shadow: 0 -1px 0px #000;
    background-image: -webkit-gradient(linear, center top, center bottom, from(#333), color-stop(5%, #333), color-stop(15%, #444), color-stop(60%, #444), to(#222)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #333 0%, #333 5%, #444 15%, #444 60%, #222 100%); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(top, #333 0%, #333 5%, #444 15%, #444 60%, #222 100%); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #333 0%, #333 5%, #444 15%, #444 60%, #222 100%); /* IE10 */
    background-image:      -o-linear-gradient(top, #333 0%, #333 5%, #444 15%, #444 60%, #222 100%); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #333 0%, #333 5%, #444 15%, #444 60%, #222 100%);
  }
  .ui-body-b, 
  .ui-body-b input, 
  .ui-body-b select, 
  .ui-body-b textarea, 
  .ui-body-b button { 
    font-family: Helvetica, Arial, sans-serif; 
  }
  .ui-body-b .ui-link-inherit { 
    color: #FFF; 
  }
  .ui-body-b .ui-link { 
    color: #E98A15; 
    font-weight: bold; 
  }

  // C Theme

  .ui-bar-c {
    border: 1px solid #2A2A2A;
    background: #111111;
    color: #FFF;
    font-weight: bold;
    text-shadow: 0 -1px 1px #000000;
    @include background-image(linear-gradient(#3C3C3C, #111));
  }
  .ui-bar-c, 
  .ui-bar-c input, 
  .ui-bar-c select, 
  .ui-bar-c textarea, 
  .ui-bar-c button {
    font-family: Helvetica, Arial, sans-serif;
  }
  .ui-bar-c .ui-link-inherit {
    color: #FFF;
  }
  .ui-bar-c .ui-link {
    color: #7CC4E7;
    font-weight: bold;
  }
  .ui-body-c {
    border: 1px solid #222;
    background: #666;
    color: #FFF;
    text-shadow: 0 1px 0 #000;
    font-weight: normal;
    @include background-image(linear-gradient(#666, #222));
  }
  .ui-body-c,
  .ui-body-c input,
  .ui-body-c select,
  .ui-body-c textarea,
  .ui-body-c button {
    font-family: Helvetica, Arial, sans-serif;
  }

  .ui-body-c .ui-link-inherit {
    color: #FFF;
  }
  .ui-body-c .ui-link {
    color: #2489CE;
    font-weight: bold;
  }

  .ui-body-c {
    &.ui-input-search, input.ui-input-text, .ui-slider-handle  {
      background: #EEE;
      @include background-image(linear-gradient(#EEE, #C6C6C6));
      background-size: 100%;
      border: 0;
      color: #333;
      text-shadow: 0 1px 0	#FFF;
    }
    
    &.inline-button {
    // Used for the table chart selection
    color: #333;
    }
    
    &.ui-focus {
      box-shadow: 0 0 10px $b-1;
    }
  }

  .ui-br {
    border-bottom: rgb(130,130,130);
    border-bottom: rgba(130,130,130,.3);
    border-bottom-width: 1px;
    border-bottom-style: none;
  }
  .ui-btn-up-c {
    border: 1px solid #333;
    background: $c-1;
    @include background-image(linear-gradient($c-1, $c-2));
  }
  .ui-btn-up-c a.ui-link-inherit {
    color: #FFF;
  }
  .ui-btn-hover-c {
    border: 1px solid #555;
    background: $c-hover-1;
    @include background-image(linear-gradient($c-hover-1, $c-hover-2));
  }
  .ui-btn-hover-c a.ui-link-inherit {
    color: #FFF;
  }
  .ui-btn-down-c {
    border: 1px solid #444;
    background: #3D3D3D;
    @include background-image(linear-gradient($c-2, $c-1));
  }
  .ui-btn-down-c a.ui-link-inherit {
    color: #FFF;
  }
  .ui-btn-up-c,
  .ui-btn-hover-c,
  .ui-btn-down-c {
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 -1px 1px #000;
  }
  .ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c {
    &.ui-li .ui-btn-inner {
      border-top: 0;
    }
    .ui-li-count {
      color: #666;
      text-shadow: 0 0 0;
      background: #CCC;
      @include background-image(linear-gradient(#FFF, #CCC));

      box-shadow: -1px 0 2px #333;
      -moz-box-shadow: -1px 0 2px #333;
      -webkit-box-shadow: -1px 0 2px #333;

      border-color: transparent;

      &.slice {
        border-color: #888;
      }
    }
  }

  // D Theme

  .ui-bar-d {
    border: 1px solid $d-2;
    background: $d-1;
    color: #F7F7F7;
    font-weight: bold;
    text-shadow: 0 -1px 1px #000;
    @include background-image(linear-gradient($d-1, $d-2));
  }
  .ui-bar-d,
  .ui-bar-d input,
  .ui-bar-d select,
  .ui-bar-d textarea,
  .ui-bar-d button {
    font-family: Helvetica, Arial, sans-serif;
  }
  .ui-bar-d .ui-link-inherit {
    color: #333;
  }
  .ui-bar-d .ui-link {
    color: #2489CE;
    font-weight: bold;
  }
  .ui-body-d {
    border: 1px solid #CCC;
    color: #333333;
    text-shadow: 0 1px 0 #FFF;
    background: #FFF;
  }
  .ui-body-d,
  .ui-body-d input,
  .ui-body-d select,
  .ui-body-d textarea,
  .ui-body-d button {
    font-family: Helvetica, Arial, sans-serif;
  }
  .ui-body-d .ui-link-inherit {
    color: #333;
  }
  .ui-body-d .ui-link {
    color: #2489CE;
    font-weight: bold;
  }
  .ui-btn-up-d {
    border: 1px solid $d-2;
    background: $d-1;
    @include background-image(linear-gradient($d-1, $d-2));
    font-weight: bold;
    color: #444;
    text-shadow: 0 1px 1px #FFF;
  }
  .ui-btn-up-d a.ui-link-inherit {
    color: #333;
  }
  .ui-btn-hover-d {
    border: 1px solid $d-2;
    background: $d-1;
    font-weight: bold;
    color: #222;
    @include background-image(linear-gradient($d-hover-1, $d-hover-2));
  }
  .ui-btn-hover-d a.ui-link-inherit {
    color: #222;
  }
  .ui-btn-down-d {
    border: 1px solid	 #AAA;
    background: #FFF;
    color: #111;
    @include background-image(linear-gradient($d-2, $d-1));
  }
  .ui-btn-down-d a.ui-link-inherit {
    color: #111;
  }
  .ui-btn-up-d,
  .ui-btn-hover-d,
  .ui-btn-down-d {
    cursor: pointer;
    font-weight: bold;
    color: #111;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 1px 	#FFF;
  }

  // D Theme

  .ui-bar-e {
    border: 1px solid $e-2;
    background: $e-1;
    color: #333;
    text-shadow: 0 1px 0 #FFF;
    @include background-image(linear-gradient($e-1, $e-2));
  }
  .ui-bar-e,
  .ui-bar-e input,
  .ui-bar-e select,
  .ui-bar-e textarea,
  .ui-bar-e button {
    font-family: Helvetica, Arial, sans-serif;
  }
  .ui-bar-e .ui-link-inherit {
    color: #333;
  }
  .ui-bar-e .ui-link {
    color: #2489CE;
    font-weight: bold;
  }
  .ui-body-e {
    border: 1px solid #F7C942;
    color: #333333;
    text-shadow: 0 1px 0 #FFF;
    background: #FAEB9E;
    @include background-image(linear-gradient($e-1, $e-2));
  }
  .ui-body-e,
  .ui-body-e input,
  .ui-body-e select,
  .ui-body-e textarea,
  .ui-body-e button {
    font-family: Helvetica, Arial, sans-serif;
  }
  .ui-body-e .ui-link-inherit {
    color: #333;
  }
  .ui-body-e .ui-link {
    color: #2489CE;
    font-weight: bold;
  }
  .ui-btn-up-e {
    border: 1px solid $e-2;
    background: $e-1;
    font-weight: bold;
    color: #333;
    text-shadow: 0 1px 0 #FFF;
    @include background-image(linear-gradient($e-1, $e-2));
  }
  .ui-btn-up-e a.ui-link-inherit {
    color: #333;
  }
  .ui-btn-hover-e {
    border: 1px solid #E79952;
    background: #FBE26F;
    font-weight: bold;
    color: #111;
   @include background-image(linear-gradient($e-hover-1, $e-hover-2));}

  .ui-btn-hover-e a.ui-link-inherit {
    color: #333;
  }
  .ui-btn-down-e {
    border: 1px solid $e-1;
    background: $e-2;
    font-weight: bold;
    color: #111;	
    @include background-image(linear-gradient($e-2, $e-1));
  }
  .ui-btn-down-e a.ui-link-inherit {
    color: #333;
  }
  .ui-btn-up-e,
  .ui-btn-hover-e,
  .ui-btn-down-e {
    text-shadow: 0 1px 1px #FFF;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
  }
  
  // Dark Theme Correction

  time {
    color: #D8D8D8;
  }

  .overtime {
    color: #FF4F4F;
  }
  
  .pill {
    .minor {
      border-color: #666;
      @include background-image(linear-gradient($b-1, $b-2));
      .subtext {
        opacity: 0.9;
      }
    }
    
    .lower {
      -color: #444;
    }
  }
  
  .ui-btn-active {
    border: 1px solid #666; 
    @include background-image(linear-gradient($b-1, $b-2));
  }

  .ui-li-count {
    box-shadow: -1px 0 0 #DDD;
  }
}

// F Theme: red color scheme. Used for the delete button
.ui-btn-up-f {
  border: 1px solid #222;
  background: $f-1;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 -1px 1px #000;
  @include background-image(linear-gradient($f-1, $f-2));
}

.ui-btn-up-f a.ui-link-inherit {
  color: #FFF;
  text-decoration: none;
}

.ui-btn-hover-f {
  border: 1px solid #000;
  background: #EF4A4A;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 -1px 1px #000;
  @include background-image(linear-gradient($f-hover-1, $f-hover-2));
}

.ui-btn-hover-f a.ui-link-inherit {
  color: #FFF;
  text-decoration: none;
}

.ui-btn-down-f {
  border: 1px solid #000;
  background: $f-2;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 -1px 1px #000;
  @include background-image(linear-gradient($f-2, $f-1));
}

.ui-btn-down-f a.ui-link-inherit {
  color: #FFF;
  text-decoration: none;
}

// End of Themes
