@import "compass/css3";

.pill {
  margin: -15px -15px 14px -15px;
  position: relative;
  height: 76px;
  font-size: 1.5em;

  > div {
    float: left;
    margin: 0;
    z-index: 2;
    @include box-shadow(#555 -1px 0 5px);
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  
  .major {
    // Customer Name
    height: 42px;
    padding: 5px;
    width: 100%;
    padding-right: 85px;
    left: 0;
    color: #444; // Dark Gray
    padding-left: 10px;
    font-weight: bold;
  }
  
  .minor {
    // Party Size
    font-size: 1.5em;
    width: 85px;
    height: 100%;
    top: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    padding: 19px 0;
    // "PARTY OF"
    .subtext {
      font-variant: small-caps;
      color: #FFF;
      font-size: 12px;
      position: absolute;
      top: 8px;
      text-align: center;
      width: 100%;
      opacity: 0.5;
    }
  }

  .upper {
    height: 42px;
    top: 0;
  }

  .lower {
    // Status bar
    padding: 7px 0 0 8px;
    height: 34px;
    bottom: 0;
    font-size: .6em;
    z-index: 1;

    color: #FAFAFA;
    text-shadow: 0 1px 1px #888;

    .icon {
      position: absolute;
      right: 81px;
      bottom: -1px;
    }
  }
}

.major-details {
  display: block;
}

.action-select {
  margin: 0.5em 5px;
  position: relative;

  .ui-corner-left {
    width: 98%;
    border-radius: 1em;
  }
  .ui-corner-right {
    min-width: 17px;
    border-radius: 0 1em 1em 0;
  }

  .ui-body {
    display: inline-block;
    clear: none;
  }
  .ui-select .ui-btn-icon-right .ui-btn-inner {
    padding-right: 20px;
    text-indent: -9999px;
  }
  .ui-field-contain {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    border-width: 0;

    .ui-btn-up-b {
    }
  }

}

.clear {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  width: 0;
  visibility: hidden;
}
