@import "compass/css3";

.pill {
  margin: -15px -15px 12px -15px;
  position: relative;
  height: 76px;
  
  font-size: 1.5em;

  div {
    padding: 5px;
    float: left;
    margin: 0;

    position: absolute;
    top: 0;
    display: inline-block;
  
    @include box-shadow(#555 -1px 0 5px);

    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .major {
    width: 100%;
    left: 0;
    color: #444;
    background-color: white;
    padding-left: 10px;
    font-weight: bold;
  }
  
  .minor {
    font-size: 1.5em;
    width: 85px;
    height: 100%;
    right: 0;
    color: white;
    text-align: center;
    padding: 11px 0;
  }
}

.major-details {
  display:block;
}

.clear {
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  width: 0;
  visibility: hidden;
}
