#add-reservation(data-role="dialog")
  header(data-role="header")
    h1 Reservation
  form.content(data-role="content")
    div(data-role="fieldcontain")
      label(for='name') Name
      input#name(type="text", name="name", value="", placeholder="Name", autofocus="autofocus")
    
    div(data-role="fieldcontain")
      label(for='phone_number') Phone Number
      input#phone_number(type="tel", name="phone_number", value="", placeholder="Phone Number")
      
    div(data-role="fieldcontain")
      label(for="party-size") Party Size
      input#party-size(type="range", name="party_size", value="1", min="1", max="10")
        
    div(data-role="fieldcontain")
      label(for='seating-preference') Seating Preference
      select#seating-preference(name="seating-preference", data-native-menu="false")
        option(value="first_available") First available
        option(value="booth") Booth
        option(value="outside") Outside
        
    // A word of warning, the date and time input variables seem to be touchy when reordering them.
    div.date-time(data-role="fieldcontain")
      label(for="reservation-date") Date
      input(name="reservation_date", id="reservation-date", type="date", data-role="datebox", data-options='{"mode": "calbox", "pickPageTheme": "b"}', placeholder="Date")
    div.date-time(data-role="fieldcontain")
      label(for="reservation-time") Time
      input(name="reservation_time", id="reservation-time", type="date", data-role="datebox", data-options='{"mode": "timebox", "timeFormat": 12, "pickPageTheme": "b"}', placeholder="Time")
      
    div(data-role="fieldcontain")
      label(for='notes') Notes
      input#notes(type="text", name="notes", value="", placeholder="Notes")
    
    a(href='#add', data-role="button") Add

