#add-party(data-role="dialog")
  header(data-role="header")
    h1 
  form.content(data-role="content")
    div(data-role="fieldcontain")
      label(for="party-phone-number") Phone Number
      input#party-phone-number(type="tel", name="phone", value="", placeholder="Phone Number")
      
    div(data-role="fieldcontain")
      label(for="party-name") Name
      input#party-name(type="text", name="name", value="", placeholder="Name", autocapitalize="on")
        
    div(data-role="fieldcontain")
      label(for="party-size") Party Size
      input#party-size(type="range", name="size", value="1", min="1", max="10")
        
    div(data-role="fieldcontain")
      label(for="party-seating-preference") Seating Preference
      select#party-seating-preference(name="seating_pref", data-native-menu="false")
        option(value="first_available") First available
        option(value="booth") Booth
        option(value="outside") Outside

    div(data-role="fieldcontain")
      label(for="party-wait-time") Quoted Wait Time
      input#party-wait-time(type="range", name="quoted_wait", min="0", max="120", step="5", value="20")
    
    div(data-role="fieldcontain")
      label(for="party-called-ahead") Called Ahead
      select#party-called-ahead(name="called_ahead", data-role="slider")
        option(value="on") No
        option(value="off") Yes
    
    div(data-role="fieldcontain")
      label(for="reservation-table-number") Table
      div(data-role="inline-center")
        input#reservation-table-number.numeric-id.ui-corner-left(type="number", name="reservation_table_number")
        a.inline-button.ui-btn-corner-right(href="#table-reservation", data-role="button", data-icon="grid") Chart
          
    div(data-role="fieldcontain")
      fieldset.form-radio(data-role="controlgroup", data-type="horizontal")
        legend Alert Method
        input#text-message(type="radio", name="alert_method", value="sms")
        label(for="text-message") Text
        input#call(type="radio", name="alert_method", value="call")
        label(for="call") Call
        input#page(type="radio", name="alert_method", value="page")
        label(for="page") Page
        input#wait(type="radio", name="alert_method", value="wait")
        label(for="wait") Wait
        
      div(data-role="fieldcontain", data-bound-value="page")
        input.short-code(type="number", name="pager_number", value="", placeholder="Pager #")
      
    div(data-role="fieldcontain")
        label(for="party-notes") Notes
        input#party-notes(type="text", name="notes", value="", placeholder="Notes")
    
    a(href="#add", data-role="button") Add
