#add-party(data-role="dialog")
  header(data-role="header")
    h1 Add a Party
  form.content(data-role="content")
    div(data-role="fieldcontain")
      label(for="party-name") Name
      input#party-name(type="text", name="name", value="", placeholder="Name", autofocus="autofocus", autocapitalize="on")
    
    div(data-role="fieldcontain")
      label(for="party-phone-number") Phone Number
      input#party-phone-number(type="tel", name="phone_number", value="", placeholder="Phone Number")
      
    div(data-role="fieldcontain")
      label(for="party-size") Party Size
      input#party-size(type="range", name="party_size", value="1", min="1", max="10")
        
    div(data-role="fieldcontain")
      label(for="party-seating-preference") Seating Preference
      select#party-seating-preference(name="seating_preference", data-native-menu="false")
        option(value="first_available") First available
        option(value="booth") Booth
        option(value="outside") Outside

    div(data-role="fieldcontain")
      label(for="party-wait-time") Wait Time
      input#party-wait-time(type="range", name="wait_time", min="0", max="120", step="5", value="0")
    
    div(data-role="fieldcontain")
      label(for="party-called-ahead") Called Ahead
      select#party-called-ahead(name="called_ahead", data-role="slider")
        option(value="on") No
        option(value="off") Yes
          
    div(data-role="fieldcontain")
      fieldset.form-radio(data-role="controlgroup", data-type="horizontal")
        legend Alert Method
        div.center-wrapper
          input#text-message(type="radio", name="alert_method", value="text-message", checked="checked")
          label(for="text-message") Text
          input#call(type="radio", name="alert_method", value="call")
          label(for="call") Call
          input#page(type="radio", name="alert_method", value="page")
          label(for="page") Page
          input#wait(type="radio", name="alert_method", value="wait")
          label(for="wait") Wait
        
    div(data-role="fieldcontain")
      label(for="party-pager-number") Pager
      input#party-pager-number.short-code(type="text", name="pager_number", value="", placeholder="Pager")
      
    div(data-role="fieldcontain")
        label(for="party-notes") Notes
        input#party-notes(type="text", name="notes", value="", placeholder="Notes")
    
      a(href='#add-party', data-role="button") Add