#login(data-role="page")
  header(data-role="header")
    h1 SpeedyTable Login
  form.content(data-role="content")
    div(data-role="fieldcontain")
      label(for="login-username") Username
      input#login-username(type="text", name="username", value="", placeholder="Username", autofocus="autofocus")
    
    div(data-role="fieldcontain")
      label(for="login-password") Password
      input#login-password(type="password", name="password", value="", placeholder="Password")
      
    div(data-role="fieldcontain")
      div(data-inline="true")
        a.ui-btn-active(href="#login-user", data-role="button", data-theme="b") Login
        a(href="#forgot-password", data-role="button", data-theme="e") Forgot your password?
      
  footer(data-position="fixed", data-role="footer", data-id="login-footer")
    nav.menu(data-role="navbar", data-iconpos="top")
      ul
        li
          a(href="#analytics", data-role="button") Analytics 
        li
          a(href="#marketing", data-role="button") Marketing       
        li
          a(href="#settings", data-role="button") Settings