#notifications(data-role="page")
  header(data-role="header")
    h1 Notifications
  form.content(data-role="content") options go here
    
  include_file(path="html/partials/nav_footer.jade"):
    != contents
