#reservations(data-role="page", data-theme="a")
  header(data-role="header", data-position="fixed")
    nav.tabs(data-role="header", data-position="inline", data-iconpos="top")
      a(href="#add-reservation", data-role="button", data-transition="none") Add
      h1 The Steakhouse
  .content(data-role="content")
    ul#reservation-list(data-role="listview", data-filter="true", data-filter-placeholder="Search Reservations")
      li(data-role="list-divider", data-theme="a") Today
        span.date 7/4/
          span.year 2011
      li
        a(href="#view-reservation") John Smith
      li(data-role="list-divider", data-theme="a") Tomorrow
        span.date 7/5/
          span.year 2011
      li(data-role="list-divider", data-theme="a") Wednesday
        span.date 7/6/
          span.year 2011
      li(data-role="list-divider", data-theme="a") Thursday
        span.date 7/6/
          span.year 2011
      li(data-role="list-divider", data-theme="a") Friday
        span.date 7/8/
          span.year 2011

  include_file(path="html/partials/nav_footer.jade"):
    != contents
