#tablechart(data-role="page")
  header(data-role="header")
    h1 Settings
  form.content(data-role="content") options go here
  
  include_file(path="html/partials/nav_footer.jade"):
    != contents