#settings(data-role="page")
  header(data-role="header")
    a(href="#more", data-role="back") Back
    h1 Settings
  form.content(data-role="content")
    ui(data-role="listview", data-inset="true")
      li
        a(href="#settings-notifications") Notifications
      li
        a(href="#settings-forms") Forms
  
  include_file(path="html/partials/nav_footer.jade"):
    != contents
