#settings-forms(data-role="page")
  header(data-role="header", data-position="fixed")
    a(href="#settings", data-role="back") Back
    h1 Forms
    a(href="#save") Save
  form.content(data-role="content")
    div(data-role="settings")
      header.ui-bar-b Seating     
      div(data-role="fieldcontain")
        label(for="seating-type-0") Options
        input#seating-type-0(type="text", name="seating_type_0", value="First Available")
      div(data-role="fieldcontain")
        label(for="seating-type-1") &nbsp
        input#seating-type-1(type="text", name="seating_type_1", value="Booth")
      div(data-role="fieldcontain")  
        label(for="seating-type-2") &nbsp
        input#seating-type-2(type="text", name="seating_type_2", value="Outside")
      div(data-role="fieldcontain")
        label(for="new-seating-type") New Option
        input#new-seating-type(type="text", name="new_seating_type", placeholder="New Option")
      
      div(data-role="fieldcontain")  
        fieldset(data-role="controlgroup")
          legend Types
          input#first-available-options.custom(type="checkbox", name="first_available_options")
          label(for="first-available-options") First Available
      
      header.ui-bar-b Alert methods
