#tablechart(data-role="page", data-expand-height="false")
  header(data-role="header")
    h1 The Steakhouse
  .content(data-role="content")
    .tablechart
      .tablechart-inner
        div#item
  
  include_file(path="html/partials/nav_footer.jade"):
    != contents
