#tablechart(data-role="page", data-expand-height="false")
  header(data-role="header")
    h1(data-key="page_title")
  .content(data-role="content")
    .editor.docked-left
      a(href='#add-table', data-role="button") Add Table
      form.options
        div(data-role="fieldcontain")
          fieldset.form-radio(data-role="controlgroup", data-type="horizontal")
            legend Type
            input#round(type="radio", name="type", value="RoundTable")
            label(for="round") Round
            input#rect(type="radio", name="type", value="RectTable")
            label(for="rect") Rect
          
        div(data-role="fieldcontain")
          label(for="table-size") Size
          input#table-size(type="range", name="size", value="4", min="1", max="8", data-key="size")

        div(data-role="fieldcontain")
          fieldset#table-rotation(data-role="controlgroup", data-type="horizontal")
            legend Rotate
            a(href='#left', data-role="button", data-icon="back") Left
            a(href='#right', data-role="button", data-icon="forward") Right

        div(data-role="fieldcontain")
          label(for="table-label") Label
          input#table-label(name="label")

        div(data-role="fieldcontain")
          label(for="table-section") Section
          select#table-section

      input(type="button", name='del-table', data-theme="f", value="Delete Table")

    .tc-container
      .tablechart
        .tablechart-inner
  
  include_file(path="html/partials/nav_footer.jade"):
    != contents
