#view-party(data-role="dialog")
  header(data-role="header")
    h1 View Party
    a(href="#modify-party", data-role="button", data-transition="none") Edit
      
  div.content(data-role="content")
    .pill
      .major.upper.ui-bar-e(data-key="name") John Smith 
      .major.lower.ui-bar-d(data-key="status") Waiting 23 minutes
        img.icon(src="../images/icons/78-stopwatch.png")
      .minor.ui-bar-b
        .subtext Party Of
        span(data-key="size") 5
      span.clear
    div.center-wrapper
      h3#party-time-remaining First Available Seat
    hr
    
    h4 Created at 5:30 PM 

    h4#party-notes-details Prefers a window seat
        
    h4 Stated Wait Time: 
      span#party-stated-wait-time-details 15 Minutes
    hr
    div.center-wrapper
      h3#party-time-remaining-details 5 Minutes 
          span Remaining
      


    a(href="#alert-party",data-role="button", data-theme="b") Send Text Message Alert
    
    a(href="#check-in-party",data-role="button", data-theme="b") Check-In

    a(href="#delete-party",data-role="button", data-theme="f") Delete 
