#view-reservation(data-role="dialog")
  header(data-role="header")
    h1 View reservation
    a(href="#modify-reservation", data-role="button", data-transition="none") Edit
      
  div.content(data-role="content")
    div.pill
      div#reservation-name-details.major.upper.ui-bar-e(data-key="name") George Johnson
      div#reservation-status-details.major.lower.ui-bar-d(data-key="status") Pending
        time.icon
      div.minor.ui-bar-b
        .subtext reservation Of
        span#reservation-size-details(data-key="size") 2
      span.clear
    div.center-wrapper
      h3#reservation-seating-preference Booth
    hr
    
    h4 Date: 
      span#reservation-date-details 7/15/2011
      
    h4 Time: 
      span#reservation-time-details 5:40 PM
    
    h4#reservation-notes-details Requests a quiet area
    
    h4 Added on&nbsp;
      span#reservation-added-date 7/8/2011
      | &nbsp;at&nbsp;
      span#reservation-added-time 2:30 PM
    hr
    div.center-wrapper
      h3#reservation-date-remaining-details 5 Days
          span &nbsp;Remaining
      
    a(href="#alert-reservation",data-role="button", data-theme="b") Send Text Message Alert
    
    a(href="#check-in-reservation",data-role="button", data-theme="b") Check-In

    a(href="#delete-reservation",data-role="button", data-theme="f") Delete 
