#view-party(data-role="dialog")
  header(data-role="header")
    h1 View Party
    a(href="#add-party", data-role="button", data-transition="none", data-rel="dialog") Edit
      
  div.content(data-role="content")
    div.pill
      div#party-name-details.major.upper.ui-bar-e(data-key="name")
      div#party-status-details.major.lower.ui-bar-d
        span(data-key="status")
        time.icon
      div.minor.ui-bar-b
        div.subtext Party Of
        span#party-size-details(data-key="size")
      span.clear
    
    div.center-wrapper
      h4(data-key="notes")
    
    div.action-select(data-role="controlgroup", data-type="horizontal")
      a(name="alert_party", data-role="button") Send Text Alert
      div(data-role="fieldcontain")
        select#text-actions(data-native-menu="false")
          option(value="call") Call Guest at (248) 229-8031

    a(name="check_in", data-role="button") Check-In

    a(name="clear_table", data-role="button", style="display:none") Clear Table

    a(href="#delete-party", data-role="button", data-theme="f") Delete 
