#view-party(data-role="dialog")
  header(data-role="header")
    h1 View Party
    a(href="#modify-party", data-role="button", data-transition="none") Edit
      
  div.content(data-role="content")
    div.pill
      div#party-name-details.major.upper.ui-bar-e(data-key="name")
      div#party-status-details.major.lower.ui-bar-d
        span(data-key="status")
        time.icon
      div.minor.ui-bar-b
        div.subtext Party Of
        span#party-size-details(data-key="size")
      span.clear
    
    h3#party-notes-details.center-wrapper Low carb menu

    a(href="#alert-party",data-role="button", data-theme="b") Send Text Message Alert
    
    a(href="#check-in-party",data-role="button", data-theme="b") Check-In

    a(href="#delete-party",data-role="button", data-theme="f") Delete 
