#view-reservation(data-role="dialog")
  header(data-role="header", data-position="fixed")
    h1 The Steakhouse
    a(href="#modify-reservation", data-role="button", data-transition="none") Modify
      
  div.content(data-role="content")
    .pill
      div.major.ui-bar-e George Johnson 
        br
        span#reservation-status.major-status Pending
      div.minor.ui-bar-b 5
      span.clear
    div.center-wrapper
      h3 Created on 7/5/2011 at 5:30 PM
    hr
    div.center-wrapper
      h4 Booth
    
    div.ui-grid-a 
      div.ui-block-a
        h4 Notes
      div.ui-block-b
        h4#reservation-notes-details Quite seating area
        
      div.ui-block-a
        h4 Date
      div.ui-block-b
        h4#reservation-date-details 7/16/2011
        
      div.ui-block-a
        h4 Time
      div.ui-block-b
        h4#reservation-time-details 6:45 PM
    hr
    div.center-wrapper
      h3#reservation-time-remaining-details 11 Days 
          span Remaining      

    // Reservation alerts would include delays, reschedule requests, reminders, etc
    a(href="#alert-reservation",data-role="button", data-theme="b") Send Text Message Alert
    
    a(href="#check-in-reservation",data-role="button", data-theme="b") Check-In

    a(href="#delete-reservation",data-role="button", data-theme="f") Delete 
