#view-party(data-role="dialog")
  header(data-role="header", data-position="fixed")
    h1 The Steakhouse
    a(href="#modify-party", data-role="button", data-transition="none") Edit
      
  div.content(data-role="content")
    .pill
<<<<<<< HEAD
      div.major.ui-bar-e John Smith 
        br
        span#party-status.major-status Seated at table 7
      div.minor.ui-bar-b 5
      span.clear
    
    h3 Created at 5:30 PM
    div.ui-grid-a  
=======
      .major.ui-bar-e(data-key="name")
      .minor.ui-bar-b(data-key="size")
      span.clear

    fieldset.ui-grid-a   
      div.ui-block-a
        h4 Called Ahead
      div.ui-block-b
        h4#party-called-ahead-details.info No

>>>>>>> 2469dd8f5a3bd6b846e0c7920c614a8a0af11d85
      div.ui-block-a
        h4 Seating Preference
      div.ui-block-b
        h4#party-seating-preference-details First Available
        
      div.ui-block-a
        h4 Notes
      div.ui-block-b
        h4#party-notes-details Prefers a window seat
        
      div.ui-block-a
        h4 Stated Wait Time
      div.ui-block-b
        h4#party-stated-wait-time-details 15 Minutes
    
    div.center-wrapper
      h3#party-time-remaining-details 5 Minutes 
          span Remaining
      


    a(href="#alert-party",data-role="button", data-theme="b") Send Text Message Alert
    
    a(href="#check-in-party",data-role="button", data-theme="b") Check-In

    a(href="#delete-party",data-role="button", data-theme="f") Delete 
