#view-reservation(data-role="dialog")
  header(data-role="header", data-position="fixed")
    nav.tabs(data-role="header", data-position="inline", data-iconpos="top")
      a(href="#", data-role="button", data-transition="none", data-rel="back") Back
      h1 The Steakhouse
      a(href="#modify-reservation", data-role="button", data-transition="none") Edit
  
   form.content(data-role="content")
    fieldset.ui-grid-a
      div.ui-block-a 
        h4 Name
      div.ui-block-b
        h4#reservation-name-details John Smith
      
      div.ui-block-a
        h4 Phone
      div.ui-block-b
        h4#reservation-phone-details 586-212-4392
          
      div.ui-block-a
        h4 Party Size
      div.ui-block-b 
        h4#reservation-size-details 5
        
      div.ui-block-a
        h4 Called Ahead
      div.ui-block-b
        h4#reservation-called-ahead-details No

      div.ui-block-a
        h4 Seating Preference
      div.ui-block-b
        h4#reservation-seating-preference-details First Available
       
      div.ui-block-a
        h4 Alert Method
      div.ui-block-b
        h4#reservation-alert-method-details Text
        
      div.ui-block-a
        h4 Notes
      div.ui-block-b
        h4#reservation-notes-details Prefers a window seat
        
      div.ui-block-a
        h4 Date
      div.ui-block-b
        h4#reservation-date-details 7/16/2011
        
      div.ui-block-a
        h4 Time
      div.ui-block-b
        h4#reservation-time-details 5:10 PM

      div.ui-block-a
        h4 reservationStatus
      div.ui-block-b
        h4 Waiting | Seated at table # | No show

    a(href="#alert-reservation",data-role="button", data-theme="e") Alert
    
    a(href="#check-in-reservation",data-role="button", data-theme="b") Check-In
     
    a(href="#delete-reservation",data-role="button", data-theme="f") Delete
      
  footer(data-position="fixed", data-role="footer", data-id="navigation-footer")
    nav.menu(data-role="navbar", data-iconpos="top")
      ul
        li
          a(href="#queue",data-role="button", data-icon="home") Queue
        li
          a.ui-btn-active(href="#reservations", data-role="button", data-icon="gear") Reservations
        li
          a(href="#tablechart",data-role="button", data-icon="grid") Table Chart