#view-party(data-role="dialog")
  header(data-role="header", data-position="fixed")
    h1 The Steakhouse
    a(href="#modify-party", data-role="button", data-transition="none") Edit
      
  div.content(data-role="content")
    .pill
      .major.ui-bar-e John Smith
      .minor.ui-bar-b 5
      span.clear
    fieldset.ui-grid-a
      h4.center-wrapper 586-212-4392

          
      div.ui-block-a
        h4 Called Ahead
      div.ui-block-b
        h4#party-called-ahead-details.info No

      div.ui-block-a
        h4 Seating Preference
      div.ui-block-b
        h4#party-seating-preference-details First Available
       
      div.ui-block-a
        h4 Alert Method
      div.ui-block-b
        h4#party-alert-method-details Text
        
      div.ui-block-a
        h4 Notes
      div.ui-block-b
        h4#party-notes-details Prefers a window seat
        
      div.ui-block-a
        h4 Stated Wait Time
      div.ui-block-b
        h4#party-stated-wait-time-details 10 Minutes
        
      div.ui-block-a
        h4 Estimated Wait Time Remaining
      div.ui-block-b
        h4#party-estimated-wait-time-details 3

      div.ui-block-a
        h4 Status
      div.ui-block-b
        h4#party-status-details Waiting | Seated at table # | No show

    a(href="#alert-party",data-role="button", data-theme="b") Alert
    
    a(href="#check-in-party",data-role="button", data-theme="b") Check-In
     
    a(href="#delete-party",data-role="button", data-theme="f") Delete 
