#view-party(data-role="dialog")
  header(data-role="header")
    h1 View Party
    a(href="#modify-party", data-role="button", data-transition="none") Edit
      
  div.content(data-role="content")
    div.pill
      div#party-name-details.major.upper.ui-bar-e(data-key="name")
      div#party-status-details.major.lower.ui-bar-d
        span(data-key="status")
        time.icon
      div.minor.ui-bar-b
        div.subtext Party Of
        span#party-size-details(data-key="size")
      span.clear
    div.center-wrapper
      h3#party-seating-preference First Available Seat
    hr

    h4#party-notes-details Prefers a window seat
        
    h4 Stated Wait Time: 
      span#party-stated-wait-time-details 15 Minutes
      
    h4 Added on&nbsp;
      span#party-added-date 7/8/2011
      | &nbsp;at&nbsp;
      span#party-added-time 4:30 PM
    hr
    div.center-wrapper
      h3#party-time-remaining-details 5 Minutes
          span &nbsp;Remaining
      

    div.action-select(data-role="controlgroup", data-type="horizontal")
      a(href="#alert-party",data-role="button", data-theme="b") Send Text Alert
      div(data-role="fieldcontain")
        select(name="c", data-theme="b", data-native-menu="false")
          option(value="call") Call Party
          option(value="view") View Number

    a(href="#check-in-party",data-role="button", data-theme="b") Check-In

    a(href="#delete-party",data-role="button", data-theme="f") Delete 
