footer(data-position="fixed", data-role="footer")
  nav.menu(data-role="navbar", data-iconpos="top")
    ul
      li
        a(href="#queue",data-role="button", data-icon="home") Queue
      li
        a(href="#reservations", data-role="button", data-icon="gear") Reservations
      li
        a(href="#tablechart",data-role="button", data-icon="grid") Table Chart
      li
        a(href="#more",data-role="button", data-icon="plus") More
