/* line 16, ../../src/styles/main.scss */
html {
  font-family: "Segoe UI", "Trebuchet MS", "FreeSans", sans-serif;
  font-size: 16px;
  color: white;
  /* White */
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #141414), color-stop(100%, #282828));
  background: -webkit-linear-gradient(#141414, #282828);
  background: -moz-linear-gradient(#141414, #282828);
  background: -o-linear-gradient(#141414, #282828);
  background: -ms-linear-gradient(#141414, #282828);
  background: linear-gradient(#141414, #282828);
  background-attachment: fixed;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

/* line 26, ../../src/styles/main.scss */
body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  border: 0;
}

/* line 33, ../../src/styles/main.scss */
header {
  margin: 30px 0 9px 35px;
}

/* line 38, ../../src/styles/main.scss */
nav {
  font-size: 1.3em;
  font-weight: 600;
}

/* line 43, ../../src/styles/main.scss */
nav.tabs a {
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  -o-border-radius: 2px / 2px;
  -ms-border-radius: 2px / 2px;
  -khtml-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  text-decoration: none;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #282828), color-stop(100%, #141414));
  background: -webkit-linear-gradient(#282828, #141414);
  background: -moz-linear-gradient(#282828, #141414);
  background: -o-linear-gradient(#282828, #141414);
  background: -ms-linear-gradient(#282828, #141414);
  background: linear-gradient(#282828, #141414);
  padding: 10px 25px;
  margin: 0 5px;
}

/* line 50, ../../src/styles/main.scss */
nav.tabs a:link {
  color: white;
}

/* line 53, ../../src/styles/main.scss */
nav.tabs a:visited {
  color: white;
}

/* line 56, ../../src/styles/main.scss */
nav.tabs a:hover {
  color: white;
}

/* line 59, ../../src/styles/main.scss */
nav.tabs a:active {
  color: white;
}

/* line 63, ../../src/styles/main.scss */
h1 {
  font-size: 2.8em;
  font-weight: 600;
  margin: 20px 0;
}

/* line 68, ../../src/styles/main.scss */
h2 {
  font-size: 1.6em;
  font-weight: 600;
}

/* line 72, ../../src/styles/main.scss */
h3 {
  font-size: 1.1em;
  padding: 0 0 0 0;
  margin: 2px 0 2px 0;
  font-weight: 600;
}

/* line 78, ../../src/styles/main.scss */
h4 {
  font-size: 1.1em;
  font-weight: 500;
}

/* line 82, ../../src/styles/main.scss */
h5 {
  font-size: 1.1em;
  font-weight: 500;
  display: inline;
}

/* line 88, ../../src/styles/main.scss */
.content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.1em;
  width: 100%;
  min-height: 100%;
  background: black;
  /* Black*/
  padding: 20px 35px;
  color: #cccccc;
}

/* line 98, ../../src/styles/main.scss */
.wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: pink;
  width: 100%;
  display: block;
}

/* line 105, ../../src/styles/main.scss */
.text_field {
  -font-size: .8em;
  display: table-cell;
  color: -o-linear-gradient(top, #faa51a, #f47a20);
  -webkit-border-radius: 20px 20px;
  -moz-border-radius: 20px / 20px;
  -o-border-radius: 20px / 20px;
  -ms-border-radius: 20px / 20px;
  -khtml-border-radius: 20px / 20px;
  border-radius: 20px / 20px;
  border: 2px solid white;
  padding: 4px 6px;
  color: black;
  background: white;
}
