/* line 44, ../../src/styles/themes.scss */
.dark-theme .ui-body-a {
  font-weight: normal;
  border: 1px solid #222;
  background: #232323;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #232323), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(#232323, #000000);
  background-image: -moz-linear-gradient(#232323, #000000);
  background-image: -o-linear-gradient(#232323, #000000);
  background-image: -ms-linear-gradient(#232323, #000000);
  background-image: linear-gradient(#232323, #000000);
  color: #DDD;
  text-shadow: 0 -1px 0px black;
}
/* line 54, ../../src/styles/themes.scss */
.dark-theme .ui-bar-b {
  font-weight: bold;
  border: 1px solid #404040;
  background: #AAA;
  color: #F9F9F9;
  text-shadow: 1px 1px 1px #444;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaaaaa), color-stop(100%, #777777));
  background-image: -webkit-linear-gradient(#aaaaaa, #777777);
  background-image: -moz-linear-gradient(#aaaaaa, #777777);
  background-image: -o-linear-gradient(#aaaaaa, #777777);
  background-image: -ms-linear-gradient(#aaaaaa, #777777);
  background-image: linear-gradient(#aaaaaa, #777777);
}
/* line 63, ../../src/styles/themes.scss */
.dark-theme .ui-btn-up-b {
  border: 1px solid #e28802;
  background: #fdb243;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdb243), color-stop(100%, #e28802));
  background-image: -webkit-linear-gradient(#fdb243, #e28802);
  background-image: -moz-linear-gradient(#fdb243, #e28802);
  background-image: -o-linear-gradient(#fdb243, #e28802);
  background-image: -ms-linear-gradient(#fdb243, #e28802);
  background-image: linear-gradient(#fdb243, #e28802);
}
/* line 68, ../../src/styles/themes.scss */
.dark-theme .ui-btn-up-b a.ui-link-inherit {
  color: #FFF;
}
/* line 71, ../../src/styles/themes.scss */
.dark-theme .ui-btn-hover-b {
  border: 1px solid #f69403;
  background: #fdbe61;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdbe61), color-stop(100%, #f69403));
  background-image: -webkit-linear-gradient(#fdbe61, #f69403);
  background-image: -moz-linear-gradient(#fdbe61, #f69403);
  background-image: -o-linear-gradient(#fdbe61, #f69403);
  background-image: -ms-linear-gradient(#fdbe61, #f69403);
  background-image: linear-gradient(#fdbe61, #f69403);
}
/* line 76, ../../src/styles/themes.scss */
.dark-theme .ui-btn-hover-b a.ui-link-inherit {
  color: #FFF;
}
/* line 79, ../../src/styles/themes.scss */
.dark-theme .ui-btn-down-b {
  border: 1px solid #fdb243;
  background: #e28802;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e28802), color-stop(100%, #fdb243));
  background-image: -webkit-linear-gradient(#e28802, #fdb243);
  background-image: -moz-linear-gradient(#e28802, #fdb243);
  background-image: -o-linear-gradient(#e28802, #fdb243);
  background-image: -ms-linear-gradient(#e28802, #fdb243);
  background-image: linear-gradient(#e28802, #fdb243);
}
/* line 86, ../../src/styles/themes.scss */
.dark-theme .ui-btn-up-b,
.dark-theme .ui-btn-hover-b,
.dark-theme .ui-btn-down-b {
  text-shadow: 0 -1px 0px #94440f;
  color: #FFF;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
}
/* line 98, ../../src/styles/themes.scss */
.dark-theme .ui-bar-b,
.dark-theme .ui-bar-b input,
.dark-theme .ui-bar-b select,
.dark-theme .ui-bar-b textarea,
.dark-theme .ui-bar-b button {
  font-family: Helvetica, Arial, sans-serif;
}
/* line 101, ../../src/styles/themes.scss */
.dark-theme .ui-bar-b .ui-link-inherit {
  color: #FFF;
}
/* line 104, ../../src/styles/themes.scss */
.dark-theme .ui-bar-b .ui-link {
  color: #7CC4E7;
  font-weight: bold;
}
/* line 108, ../../src/styles/themes.scss */
.dark-theme .ui-body-b {
  font-weight: normal;
  border: 1px solid #222;
  background: #444;
  color: #DDD;
  text-shadow: 0 -1px 0px black;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#333333), color-stop(5%, #333333), color-stop(15%, #444444), color-stop(60%, #444444), to(#222222));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #333333 0%, #333333 5%, #444444 15%, #444444 60%, #222222 100%);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, #333333 0%, #333333 5%, #444444 15%, #444444 60%, #222222 100%);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #333333 0%, #333333 5%, #444444 15%, #444444 60%, #222222 100%);
  /* IE10 */
  background-image: -o-linear-gradient(top, #333333 0%, #333333 5%, #444444 15%, #444444 60%, #222222 100%);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #333333 0%, #333333 5%, #444444 15%, #444444 60%, #222222 100%);
}
/* line 125, ../../src/styles/themes.scss */
.dark-theme .ui-body-b,
.dark-theme .ui-body-b input,
.dark-theme .ui-body-b select,
.dark-theme .ui-body-b textarea,
.dark-theme .ui-body-b button {
  font-family: Helvetica, Arial, sans-serif;
}
/* line 128, ../../src/styles/themes.scss */
.dark-theme .ui-body-b .ui-link-inherit {
  color: #FFF;
}
/* line 131, ../../src/styles/themes.scss */
.dark-theme .ui-body-b .ui-link {
  color: #E98A15;
  font-weight: bold;
}
/* line 138, ../../src/styles/themes.scss */
.dark-theme .ui-bar-c {
  border: 1px solid #2A2A2A;
  background: #111111;
  color: #FFF;
  font-weight: bold;
  text-shadow: 0 -1px 1px black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3c3c3c), color-stop(100%, #111111));
  background-image: -webkit-linear-gradient(#3c3c3c, #111111);
  background-image: -moz-linear-gradient(#3c3c3c, #111111);
  background-image: -o-linear-gradient(#3c3c3c, #111111);
  background-image: -ms-linear-gradient(#3c3c3c, #111111);
  background-image: linear-gradient(#3c3c3c, #111111);
}
/* line 150, ../../src/styles/themes.scss */
.dark-theme .ui-bar-c,
.dark-theme .ui-bar-c input,
.dark-theme .ui-bar-c select,
.dark-theme .ui-bar-c textarea,
.dark-theme .ui-bar-c button {
  font-family: Helvetica, Arial, sans-serif;
}
/* line 153, ../../src/styles/themes.scss */
.dark-theme .ui-bar-c .ui-link-inherit {
  color: #FFF;
}
/* line 156, ../../src/styles/themes.scss */
.dark-theme .ui-bar-c .ui-link {
  color: #7CC4E7;
  font-weight: bold;
}
/* line 160, ../../src/styles/themes.scss */
.dark-theme .ui-body-c {
  border: 1px solid #222;
  background: #666;
  color: #FFF;
  text-shadow: 0 1px 0 #000;
  font-weight: normal;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #666666), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(#666666, #222222);
  background-image: -moz-linear-gradient(#666666, #222222);
  background-image: -o-linear-gradient(#666666, #222222);
  background-image: -ms-linear-gradient(#666666, #222222);
  background-image: linear-gradient(#666666, #222222);
}
/* line 172, ../../src/styles/themes.scss */
.dark-theme .ui-body-c,
.dark-theme .ui-body-c input,
.dark-theme .ui-body-c select,
.dark-theme .ui-body-c textarea,
.dark-theme .ui-body-c button {
  font-family: Helvetica, Arial, sans-serif;
}
/* line 176, ../../src/styles/themes.scss */
.dark-theme .ui-body-c .ui-link-inherit {
  color: #FFF;
}
/* line 179, ../../src/styles/themes.scss */
.dark-theme .ui-body-c .ui-link {
  color: #2489CE;
  font-weight: bold;
}
/* line 185, ../../src/styles/themes.scss */
.dark-theme .ui-body-c.ui-input-search, .dark-theme .ui-body-c input.ui-input-text, .dark-theme .ui-body-c .ui-slider-handle {
  background: #EEE;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #c6c6c6));
  background-image: -webkit-linear-gradient(#eeeeee, #c6c6c6);
  background-image: -moz-linear-gradient(#eeeeee, #c6c6c6);
  background-image: -o-linear-gradient(#eeeeee, #c6c6c6);
  background-image: -ms-linear-gradient(#eeeeee, #c6c6c6);
  background-image: linear-gradient(#eeeeee, #c6c6c6);
  background-size: 100%;
  border: 0;
  color: #333;
  text-shadow: 0 1px 0	#FFF;
}
/* line 194, ../../src/styles/themes.scss */
.dark-theme .ui-body-c.inline-button {
  color: #333;
}
/* line 199, ../../src/styles/themes.scss */
.dark-theme .ui-body-c.ui-focus {
  box-shadow: 0 0 10px #fdb243;
}
/* line 204, ../../src/styles/themes.scss */
.dark-theme .ui-br {
  border-bottom: #828282;
  border-bottom: rgba(130, 130, 130, 0.3);
  border-bottom-width: 1px;
  border-bottom-style: none;
}
/* line 210, ../../src/styles/themes.scss */
.dark-theme .ui-btn-up-c {
  border: 1px solid #333;
  background: #555555;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #434343));
  background-image: -webkit-linear-gradient(#555555, #434343);
  background-image: -moz-linear-gradient(#555555, #434343);
  background-image: -o-linear-gradient(#555555, #434343);
  background-image: -ms-linear-gradient(#555555, #434343);
  background-image: linear-gradient(#555555, #434343);
}
/* line 215, ../../src/styles/themes.scss */
.dark-theme .ui-btn-up-c a.ui-link-inherit {
  color: #FFF;
}
/* line 218, ../../src/styles/themes.scss */
.dark-theme .ui-btn-hover-c {
  border: 1px solid #555;
  background: #646464;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #646464), color-stop(100%, #4d4d4d));
  background-image: -webkit-linear-gradient(#646464, #4d4d4d);
  background-image: -moz-linear-gradient(#646464, #4d4d4d);
  background-image: -o-linear-gradient(#646464, #4d4d4d);
  background-image: -ms-linear-gradient(#646464, #4d4d4d);
  background-image: linear-gradient(#646464, #4d4d4d);
}
/* line 223, ../../src/styles/themes.scss */
.dark-theme .ui-btn-hover-c a.ui-link-inherit {
  color: #FFF;
}
/* line 226, ../../src/styles/themes.scss */
.dark-theme .ui-btn-down-c {
  border: 1px solid #444;
  background: #3D3D3D;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #434343), color-stop(100%, #555555));
  background-image: -webkit-linear-gradient(#434343, #555555);
  background-image: -moz-linear-gradient(#434343, #555555);
  background-image: -o-linear-gradient(#434343, #555555);
  background-image: -ms-linear-gradient(#434343, #555555);
  background-image: linear-gradient(#434343, #555555);
}
/* line 231, ../../src/styles/themes.scss */
.dark-theme .ui-btn-down-c a.ui-link-inherit {
  color: #FFF;
}
/* line 236, ../../src/styles/themes.scss */
.dark-theme .ui-btn-up-c,
.dark-theme .ui-btn-hover-c,
.dark-theme .ui-btn-down-c {
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
  text-shadow: 0 -1px 1px black;
}
/* line 244, ../../src/styles/themes.scss */
.dark-theme .ui-btn-up-c.ui-li .ui-btn-inner, .dark-theme .ui-btn-hover-c.ui-li .ui-btn-inner, .dark-theme .ui-btn-down-c.ui-li .ui-btn-inner {
  border-top: 0;
}
/* line 247, ../../src/styles/themes.scss */
.dark-theme .ui-btn-up-c .ui-li-count, .dark-theme .ui-btn-hover-c .ui-li-count, .dark-theme .ui-btn-down-c .ui-li-count {
  color: #666;
  text-shadow: 0 0 0;
  background: #CCC;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(#ffffff, #cccccc);
  background-image: -moz-linear-gradient(#ffffff, #cccccc);
  background-image: -o-linear-gradient(#ffffff, #cccccc);
  background-image: -ms-linear-gradient(#ffffff, #cccccc);
  background-image: linear-gradient(#ffffff, #cccccc);
  box-shadow: -1px 0 2px #333333;
  -moz-box-shadow: -1px 0 2px #333333;
  -webkit-box-shadow: -1px 0 2px #333333;
  border-color: transparent;
}
/* line 259, ../../src/styles/themes.scss */
.dark-theme .ui-btn-up-c .ui-li-count.slice, .dark-theme .ui-btn-hover-c .ui-li-count.slice, .dark-theme .ui-btn-down-c .ui-li-count.slice {
  border-color: #888;
}
/* line 267, ../../src/styles/themes.scss */
.dark-theme .ui-bar-d {
  border: 1px solid #2f2f2f;
  background: #555555;
  color: #F7F7F7;
  font-weight: bold;
  text-shadow: 0 -1px 1px black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #2f2f2f));
  background-image: -webkit-linear-gradient(#555555, #2f2f2f);
  background-image: -moz-linear-gradient(#555555, #2f2f2f);
  background-image: -o-linear-gradient(#555555, #2f2f2f);
  background-image: -ms-linear-gradient(#555555, #2f2f2f);
  background-image: linear-gradient(#555555, #2f2f2f);
}
/* line 279, ../../src/styles/themes.scss */
.dark-theme .ui-bar-d,
.dark-theme .ui-bar-d input,
.dark-theme .ui-bar-d select,
.dark-theme .ui-bar-d textarea,
.dark-theme .ui-bar-d button {
  font-family: Helvetica, Arial, sans-serif;
}
/* line 282, ../../src/styles/themes.scss */
.dark-theme .ui-bar-d .ui-link-inherit {
  color: #333;
}
/* line 285, ../../src/styles/themes.scss */
.dark-theme .ui-bar-d .ui-link {
  color: #2489CE;
  font-weight: bold;
}
/* line 289, ../../src/styles/themes.scss */
.dark-theme .ui-body-d {
  border: 1px solid #CCC;
  color: #333333;
  text-shadow: 0 1px 0 #FFF;
  background: #FFF;
}
/* line 299, ../../src/styles/themes.scss */
.dark-theme .ui-body-d,
.dark-theme .ui-body-d input,
.dark-theme .ui-body-d select,
.dark-theme .ui-body-d textarea,
.dark-theme .ui-body-d button {
  font-family: Helvetica, Arial, sans-serif;
}
/* line 302, ../../src/styles/themes.scss */
.dark-theme .ui-body-d .ui-link-inherit {
  color: #333;
}
/* line 305, ../../src/styles/themes.scss */
.dark-theme .ui-body-d .ui-link {
  color: #2489CE;
  font-weight: bold;
}
/* line 309, ../../src/styles/themes.scss */
.dark-theme .ui-btn-up-d {
  border: 1px solid #2f2f2f;
  background: #555555;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #2f2f2f));
  background-image: -webkit-linear-gradient(#555555, #2f2f2f);
  background-image: -moz-linear-gradient(#555555, #2f2f2f);
  background-image: -o-linear-gradient(#555555, #2f2f2f);
  background-image: -ms-linear-gradient(#555555, #2f2f2f);
  background-image: linear-gradient(#555555, #2f2f2f);
  font-weight: bold;
  color: #444;
  text-shadow: 0 1px 1px #FFF;
}
/* line 317, ../../src/styles/themes.scss */
.dark-theme .ui-btn-up-d a.ui-link-inherit {
  color: #333;
}
/* line 320, ../../src/styles/themes.scss */
.dark-theme .ui-btn-hover-d {
  border: 1px solid #2f2f2f;
  background: #555555;
  font-weight: bold;
  color: #222;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #646464), color-stop(100%, #393939));
  background-image: -webkit-linear-gradient(#646464, #393939);
  background-image: -moz-linear-gradient(#646464, #393939);
  background-image: -o-linear-gradient(#646464, #393939);
  background-image: -ms-linear-gradient(#646464, #393939);
  background-image: linear-gradient(#646464, #393939);
}
/* line 327, ../../src/styles/themes.scss */
.dark-theme .ui-btn-hover-d a.ui-link-inherit {
  color: #222;
}
/* line 330, ../../src/styles/themes.scss */
.dark-theme .ui-btn-down-d {
  border: 1px solid	 #AAA;
  background: #FFF;
  color: #111;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2f2f2f), color-stop(100%, #555555));
  background-image: -webkit-linear-gradient(#2f2f2f, #555555);
  background-image: -moz-linear-gradient(#2f2f2f, #555555);
  background-image: -o-linear-gradient(#2f2f2f, #555555);
  background-image: -ms-linear-gradient(#2f2f2f, #555555);
  background-image: linear-gradient(#2f2f2f, #555555);
}
/* line 336, ../../src/styles/themes.scss */
.dark-theme .ui-btn-down-d a.ui-link-inherit {
  color: #111;
}
/* line 341, ../../src/styles/themes.scss */
.dark-theme .ui-btn-up-d,
.dark-theme .ui-btn-hover-d,
.dark-theme .ui-btn-down-d {
  cursor: pointer;
  font-weight: bold;
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  text-shadow: 0 1px 1px 	#FFF;
}
/* line 352, ../../src/styles/themes.scss */
.dark-theme .ui-bar-e {
  border: 1px solid #b8b8b8;
  background: #f8f8f8;
  color: #333;
  text-shadow: 0 1px 0 #FFF;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #b8b8b8));
  background-image: -webkit-linear-gradient(#f8f8f8, #b8b8b8);
  background-image: -moz-linear-gradient(#f8f8f8, #b8b8b8);
  background-image: -o-linear-gradient(#f8f8f8, #b8b8b8);
  background-image: -ms-linear-gradient(#f8f8f8, #b8b8b8);
  background-image: linear-gradient(#f8f8f8, #b8b8b8);
}
/* line 363, ../../src/styles/themes.scss */
.dark-theme .ui-bar-e,
.dark-theme .ui-bar-e input,
.dark-theme .ui-bar-e select,
.dark-theme .ui-bar-e textarea,
.dark-theme .ui-bar-e button {
  font-family: Helvetica, Arial, sans-serif;
}
/* line 366, ../../src/styles/themes.scss */
.dark-theme .ui-bar-e .ui-link-inherit {
  color: #333;
}
/* line 369, ../../src/styles/themes.scss */
.dark-theme .ui-bar-e .ui-link {
  color: #2489CE;
  font-weight: bold;
}
/* line 373, ../../src/styles/themes.scss */
.dark-theme .ui-body-e {
  border: 1px solid #F7C942;
  color: #333333;
  text-shadow: 0 1px 0 #FFF;
  background: #FAEB9E;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #b8b8b8));
  background-image: -webkit-linear-gradient(#f8f8f8, #b8b8b8);
  background-image: -moz-linear-gradient(#f8f8f8, #b8b8b8);
  background-image: -o-linear-gradient(#f8f8f8, #b8b8b8);
  background-image: -ms-linear-gradient(#f8f8f8, #b8b8b8);
  background-image: linear-gradient(#f8f8f8, #b8b8b8);
}
/* line 384, ../../src/styles/themes.scss */
.dark-theme .ui-body-e,
.dark-theme .ui-body-e input,
.dark-theme .ui-body-e select,
.dark-theme .ui-body-e textarea,
.dark-theme .ui-body-e button {
  font-family: Helvetica, Arial, sans-serif;
}
/* line 387, ../../src/styles/themes.scss */
.dark-theme .ui-body-e .ui-link-inherit {
  color: #333;
}
/* line 390, ../../src/styles/themes.scss */
.dark-theme .ui-body-e .ui-link {
  color: #2489CE;
  font-weight: bold;
}
/* line 394, ../../src/styles/themes.scss */
.dark-theme .ui-btn-up-e {
  border: 1px solid #b8b8b8;
  background: #f8f8f8;
  font-weight: bold;
  color: #333;
  text-shadow: 0 1px 0 #FFF;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #b8b8b8));
  background-image: -webkit-linear-gradient(#f8f8f8, #b8b8b8);
  background-image: -moz-linear-gradient(#f8f8f8, #b8b8b8);
  background-image: -o-linear-gradient(#f8f8f8, #b8b8b8);
  background-image: -ms-linear-gradient(#f8f8f8, #b8b8b8);
  background-image: linear-gradient(#f8f8f8, #b8b8b8);
}
/* line 402, ../../src/styles/themes.scss */
.dark-theme .ui-btn-up-e a.ui-link-inherit {
  color: #333;
}
/* line 405, ../../src/styles/themes.scss */
.dark-theme .ui-btn-hover-e {
  border: 1px solid #E79952;
  background: #FBE26F;
  font-weight: bold;
  color: #111;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #c2c2c2));
  background-image: -webkit-linear-gradient(#ffffff, #c2c2c2);
  background-image: -moz-linear-gradient(#ffffff, #c2c2c2);
  background-image: -o-linear-gradient(#ffffff, #c2c2c2);
  background-image: -ms-linear-gradient(#ffffff, #c2c2c2);
  background-image: linear-gradient(#ffffff, #c2c2c2);
}
/* line 412, ../../src/styles/themes.scss */
.dark-theme .ui-btn-hover-e a.ui-link-inherit {
  color: #333;
}
/* line 415, ../../src/styles/themes.scss */
.dark-theme .ui-btn-down-e {
  border: 1px solid #f8f8f8;
  background: #b8b8b8;
  font-weight: bold;
  color: #111;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b8b8b8), color-stop(100%, #f8f8f8));
  background-image: -webkit-linear-gradient(#b8b8b8, #f8f8f8);
  background-image: -moz-linear-gradient(#b8b8b8, #f8f8f8);
  background-image: -o-linear-gradient(#b8b8b8, #f8f8f8);
  background-image: -ms-linear-gradient(#b8b8b8, #f8f8f8);
  background-image: linear-gradient(#b8b8b8, #f8f8f8);
}
/* line 422, ../../src/styles/themes.scss */
.dark-theme .ui-btn-down-e a.ui-link-inherit {
  color: #333;
}
/* line 427, ../../src/styles/themes.scss */
.dark-theme .ui-btn-up-e,
.dark-theme .ui-btn-hover-e,
.dark-theme .ui-btn-down-e {
  text-shadow: 0 1px 1px #FFF;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
}
/* line 435, ../../src/styles/themes.scss */
.dark-theme time {
  color: #D8D8D8;
}
/* line 439, ../../src/styles/themes.scss */
.dark-theme .overtime {
  color: #FF4F4F;
}
/* line 444, ../../src/styles/themes.scss */
.dark-theme .pill .minor {
  border-color: #666;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdb243), color-stop(100%, #e28802));
  background-image: -webkit-linear-gradient(#fdb243, #e28802);
  background-image: -moz-linear-gradient(#fdb243, #e28802);
  background-image: -o-linear-gradient(#fdb243, #e28802);
  background-image: -ms-linear-gradient(#fdb243, #e28802);
  background-image: linear-gradient(#fdb243, #e28802);
}
/* line 447, ../../src/styles/themes.scss */
.dark-theme .pill .minor .subtext {
  opacity: 0.9;
}
/* line 452, ../../src/styles/themes.scss */
.dark-theme .pill .lower {
  -color: #444;
}
/* line 457, ../../src/styles/themes.scss */
.dark-theme .ui-btn-active {
  border: 1px solid #666;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdb243), color-stop(100%, #e28802));
  background-image: -webkit-linear-gradient(#fdb243, #e28802);
  background-image: -moz-linear-gradient(#fdb243, #e28802);
  background-image: -o-linear-gradient(#fdb243, #e28802);
  background-image: -ms-linear-gradient(#fdb243, #e28802);
  background-image: linear-gradient(#fdb243, #e28802);
}
/* line 462, ../../src/styles/themes.scss */
.dark-theme .ui-li-count {
  box-shadow: -1px 0 0 #dddddd;
}

/* line 468, ../../src/styles/themes.scss */
.ui-btn-up-f {
  border: 1px solid #222;
  background: #f73939;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 -1px 1px black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f73939), color-stop(100%, #c20808));
  background-image: -webkit-linear-gradient(#f73939, #c20808);
  background-image: -moz-linear-gradient(#f73939, #c20808);
  background-image: -o-linear-gradient(#f73939, #c20808);
  background-image: -ms-linear-gradient(#f73939, #c20808);
  background-image: linear-gradient(#f73939, #c20808);
}

/* line 478, ../../src/styles/themes.scss */
.ui-btn-up-f a.ui-link-inherit {
  color: #FFF;
  text-decoration: none;
}

/* line 483, ../../src/styles/themes.scss */
.ui-btn-hover-f {
  border: 1px solid #000;
  background: #EF4A4A;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 -1px 1px black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f84d4d), color-stop(100%, #d10808));
  background-image: -webkit-linear-gradient(#f84d4d, #d10808);
  background-image: -moz-linear-gradient(#f84d4d, #d10808);
  background-image: -o-linear-gradient(#f84d4d, #d10808);
  background-image: -ms-linear-gradient(#f84d4d, #d10808);
  background-image: linear-gradient(#f84d4d, #d10808);
}

/* line 493, ../../src/styles/themes.scss */
.ui-btn-hover-f a.ui-link-inherit {
  color: #FFF;
  text-decoration: none;
}

/* line 498, ../../src/styles/themes.scss */
.ui-btn-down-f {
  border: 1px solid #000;
  background: #c20808;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 -1px 1px black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c20808), color-stop(100%, #f73939));
  background-image: -webkit-linear-gradient(#c20808, #f73939);
  background-image: -moz-linear-gradient(#c20808, #f73939);
  background-image: -o-linear-gradient(#c20808, #f73939);
  background-image: -ms-linear-gradient(#c20808, #f73939);
  background-image: linear-gradient(#c20808, #f73939);
}

/* line 508, ../../src/styles/themes.scss */
.ui-btn-down-f a.ui-link-inherit {
  color: #FFF;
  text-decoration: none;
}
